{% extends "layouts/base.html" %}
{% block title %}
SRCT | Documents
{% endblock %}

{% block pagetitle %}
Documents
{% endblock %}
{% block description %}
Our legal, philosophical, and branding information.
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <table class="table table-hover">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td><a href="{{ url_for('constitution') }}">Constitution</a></td>
        </tr>
        <tr>
          <td><a href="{{ url_for('usagePolicy') }}">Usage Policy</a></td>
        </tr>
        <tr>
          <td><a href="{{ url_for('termsOfService') }} ">Terms of Service</a></td>
        </tr>
        <tr>
          <td><a href="{{ url_for('privacyPolicy') }}">Privacy Policy</a></td>
        </tr>
        <tr>
          <td><a href="{{ url_for('intellectualProperty') }}">Intellectual Property</a></td>
        </tr>
	<tr>
	  <td><a href="{{ url_for('softwareFreedom') }}">Software Freedom</a></td>
	</tr>
        <tr>
          <td><a href="{{ url_for('logos') }}">Logos</a></td>
        </tr>
      </tbody>
    </table>
 </div>
</div>
{% endblock %}
