{% extends "layouts/base.html" %}
{% block title %}
SRCT | Events | Openhatch at Mason 2015
{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img src="http://princeton.openhatch.org/imgs/openhatch-logo.png" class="img-responsive center-block" alt="Openhatch at Mason">
      </div>
      <div class="col-md-4">
        <strong><p align="right">October 24th, 2015</p></strong>
        <p align="right">9:30am-7:00pm</p>
        <p align="right">Planetary Hall 129</p>
        <p align="right">Doors Open at 9:00am</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
   <div class="col-md-2">
     <a href="#Description">
       <button type="button" class="btn btn-default btn-block">Description</button>
     </a>
   </div>
   <div class="col-md-2">
     <a href="#Register">
       <button type="button" class="btn btn-default btn-block">Register</button>
     </a>
   </div>
   <div class="col-md-2">
     <a href="#Schedule">
       <button type="button" class="btn btn-default btn-block">Schedule</button>
     </a>
   </div>
   <div class="col-md-2">
     <a href="#PeopleOrgs">
       <button type="button" class="btn btn-default btn-block">People & Orgs</button>
     </a>
   </div>
   <div class="col-md-2">
     <a href="#Menu">
       <button type="button" class="btn btn-default btn-block">Menu</button>
     </a>
   </div>
   <div class="col-md-2">
     <a href="#Contact">
       <button type="button" class="btn btn-default btn-block">Contact</button>
     </a>
   </div>
</div>

<br />

<div class="row">
  <div class="col-md-12">
    <legend class="text-center"><a name="Description" href="#Description"><h2>Description</h2></a></legend>
  </div>
  <div class="col-md-6 slight-bump">
    <p>
      Learn the tools and culture of open source development, meet great people, and help impact real projects
      during this all-day immersion workshop. No experience is needed for participation in this event: students
      of all levels of technical skill and from all majors are welcomed. (Not all contributions come in the form of
      code. It can be artwork, documenation and copy, translations, and more!) And yes, all meals and snacks are
      provided.
    </p>
    <p>
      <strong>Openhatch at Mason (2015)</strong> is jointly organized by Mason student organizations
      <a href="https://srct.gmu.edu/">Student-Run Computing and Technology</a> and
      <a href="http://www.gmulug.com/">Mason Linux Users Group</a> with the nonprofit
      <a href="https://openhatch.org/">Openhatch</a> through their
      <a href="http://campus.openhatch.org/"><em>Open Source Comes to Campus</em></a> initiative.
    </p>
    <p>
      We're fresh off holding a similar, tremendously successful Openhatch partnership event in 2014. The
      pictures on this page are from that workshop.
  </div>
  <div class="col-md-6 slight-bump">
    <p>
      Participants will work in small groups with both outside open source professionals and trained student
      mentors to cover the practical skills needed to contribute to open source projects. They'll also hear talks
      by Mason faculty on open source history, and its use in academia as well as a discussion by a panel of
      open source contributors in industry.
    </p>
    <p>
      Making open source more welcoming to newcomers and more diverse are mutually reinforcing goals, and we're
      committed to building as broad a group of contributors and greater community as we can. We hope you'll join
      us encouraging participation by women, minorities, and other members of groups generally underrepresented
      in tech.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <legend class="text-center"><a name="Register" href="#Register"><h2>Register</h2></a></legend>
  </div>
  <div class="col-md-5 col-md-offset-1 text-center">
    <button type="button" class="btn btn-primary btn-block"><h4><strong>Participate</strong></h4></button>
    <br />
    <p class="slight-bump">
      If you're interested in learning all about open source culture, philosophy, and practical tools,
      connecting with other students and members of the open source community, and want to walk away after
      just a day with contributions to active open source projects, register through this form.
    </p>
  </div>
  <div class="col-md-5 text-center">
    <button type="button" class="btn btn-primary btn-block"><h4><strong>Mentor or Volunteer</strong></h4></button>
    <br />
    <p class="slight-bump">
      If you want to lead eager students through their first steps in open source, or more experienced students
      through more advanced topics, or want to volunteer with this event in any way, register through
      <em>this</em> form.
    </p>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12 slight-bump text-center">
    <p>After registering, join our event page on Facebook and stay tuned to your email inbox for further updates.</p>
    <p>Make sure to bring your wifi-capable laptop and charger the day of the event!</p>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <legend class="text-center"><a name="Schedule" href="#Schedule"><h2>Schedule</h2></a></legend>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center slight-bump">
    <p>
      Advanced Track workshop sessions are in red. We'll assign you to a group and mentors based on the
      information you provide us on the registration form.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-2"><h3>Time</h3></th>
          <th class="col-md-4"><h3>Activity</h3></th>
          <th class="col-md-6"><h3>Description</h3></th>
        </tr>
      </thead>
      <tbody class="slight-bump">
        <tr>
          <td>9:00am</td>
          <td><strong>Doors Open: Registration and Breakfast</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>9:30am- 10:00am</td>
          <td><strong>Registration and Breakfast, Continued</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>10:00am- 10:15am</td>
          <td><strong>Welcome and Overview</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>10:15am- 11:00am</td>
          <td><strong>Opening Remarks</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>11:00am- 11:30am</td>
          <td><strong>Workshop I: Computer Setup</strong></td>
          <td></td>
        </tr>
        <tr class="danger">
          <td>11:00am- 11:30am</td>
          <td><strong>Workshop I:</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>11:30am- 12:30pm</td>
          <td><strong>Workshop II: Open Source Communication Tools</strong></td>
          <td></td>
        </tr>
        <tr class="danger">
          <td>11:00am- 11:30am</td>
          <td><strong>Workshop II:</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>12:30pm</td>
          <td><strong>Lunch</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>1:15pm- 2:00pm</td>
          <td><strong>Career Panel</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>2:00pm- 3:00pm</td>
          <td><strong>Workshop III: Learning Git</strong></td>
          <td></td>
        </tr>
        <tr class="danger">
          <td>2:00pm- 3:00pm</td>
          <td><strong>Workshop III: Advanced Git</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>3:00pm- 3:45pm</td>
          <td><strong>History and Ethics of Free Software</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>3:45pm</td>
          <td><strong>Reshuffling for Contribution Groups</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>4:00pm- 5:00pm</td>
          <td><strong>Workshop IV: Contributions</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>5:00pm</td>
          <td><strong>Dinner</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>5:30pm- 6:30pm</td>
          <td><strong>Workshop V: Contributions Continued</strong></td>
          <td></td>
        </tr>
        <tr>
          <td>6:30-7:00pm</td>
          <td><strong>Wrapup, Thanks, and Close</strong></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <legend class="text-center"><a name="PeopleOrgs" href="#PeopleOrgs"><h2>People and Organizations</h2></a></legend>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <h3><strong>Speakers</strong></h3>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-4 text-center">
    <img src="https://secure.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=100" alt="Picture of " class="img-circle">
    <h3>Name Namerson</h3>
    <h3><small>Affiliations</small></h3>
    <p>
      Brunch four dollar toast cillum consequat, aliquip velit officia street art. +1 whatever pug, vinyl
      retro pork belly fanny pack pop-up accusamus 90's freegan duis meggings cupidatat. Try-hard street
      art enim, pour-over Tumblr pork belly nostrud ethical cred. Nisi vegan Blue Bottle +1 biodiesel,
      heirloom crucifix tousled tempor exercitation organic. Scenester cray actually Tumblr. Kitsch craft
      beer meditation selvage. Vegan before they sold out id, Kickstarter elit chillwave exercitation
      laboris keffiyeh meh nihil normcore veniam.
    </p>
  </div>
  <div class="col-md-4 text-center">
    <img src="https://secure.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=100" alt="Picture of " class="img-circle">
    <h3>Name Namerson</h3>
    <h3><small>Affiliations</small></h3>
    <p>
      Adipisicing Austin meggings tote bag eiusmod, master cleanse et magna four loko wolf Portland. Four
      loko Thundercats post-ironic, pork belly messenger bag mustache commodo meditation tousled ex. Mlkshk
      brunch blog mollit, tempor tilde literally. High Life cliche magna letterpress, asymmetrical PBR&B
      officia fingerstache. Plaid incididunt cred kogi commodo pickled. Actually cray, Pinterest cillum
      accusamus bespoke organic meggings artisan Austin. Vegan shabby chic bitters keffiyeh bicycle rights
      tote bag, semiotics in.
    </p>
  </div>
  <div class="col-md-4 text-center">
    <img src="https://secure.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=100" alt="Picture of " class="img-circle">
    <h3>Name Namerson</h3>
    <h3><small>Affiliations</small></h3>
    <p>
      Gastropub placeat vegan biodiesel taxidermy, disrupt next level ex kogi craft beer raw denim tofu
      eu. Authentic nihil Bushwick, meggings pork belly fanny pack occaecat lomo deep v exercitation.
      Butcher quis VHS food truck mumblecore, kale chips tempor voluptate wolf sint cred mlkshk. Loko gluten-free
      veniam. Bicycle rights occaecat meh chia. Disrupt et plaid, single-origin coffee banh aesthetic pork
      belly cronut messenger bag officia hashtag artisan qui. Truffaut banh mi freegan Marfa accusamus, pop-up
      nesciunt mumblecore.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <h3><strong>Organizations</strong></h3>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-4 text-center">
    <img src="https://secure.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=100" alt="SRCT Logo" class="img-circle">
    <h3>Student-Run Computing<br />and Technology</h3>
    <p>
      Adipisicing Austin meggings tote bag eiusmod, master cleanse et magna four loko wolf Portland. Four
      loko Thundercats post-ironic, pork belly messenger bag mustache commodo meditation tousled ex. Mlkshk
      brunch blog mollit, tempor tilde literally. High Life cliche magna letterpress, asymmetrical PBR&B
      officia fingerstache. Plaid incididunt cred kogi commodo pickled. Actually cray, Pinterest cillum
      accusamus bespoke organic meggings artisan Austin. Vegan shabby chic bitters keffiyeh bicycle rights
      tote bag, semiotics in.
    </p>
  </div>
  <div class="col-md-4 text-center">
    <img src="https://secure.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=100" alt="SRCT Logo" class="img-circle">
    <h3>Mason Linux Users Group</h3>
    <p>
      Brunch four dollar toast cillum consequat, aliquip velit officia street art. +1 whatever pug, vinyl
      retro pork belly fanny pack pop-up accusamus 90's freegan duis meggings cupidatat. Try-hard street
      art enim, pour-over Tumblr pork belly nostrud ethical cred. Nisi vegan Blue Bottle +1 biodiesel,
      heirloom crucifix tousled tempor exercitation organic. Scenester cray actually Tumblr. Kitsch craft
      beer meditation selvage. Vegan before they sold out id, Kickstarter elit chillwave exercitation
      laboris keffiyeh meh nihil normcore veniam.
    </p>
  </div>
  <div class="col-md-4 text-center">
    <img src="https://secure.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=100" alt="SRCT Logo" class="img-circle">
    <h3>Openhatch</h3>
    <p>
      Gastropub placeat vegan biodiesel taxidermy, disrupt next level ex kogi craft beer raw denim tofu
      eu. Authentic nihil Bushwick, meggings pork belly fanny pack occaecat lomo deep v exercitation.
      Butcher quis VHS food truck mumblecore, kale chips tempor voluptate wolf sint cred mlkshk. Loko gluten-free
      veniam. Bicycle rights occaecat meh chia. Disrupt et plaid, single-origin coffee banh aesthetic pork
      belly cronut messenger bag officia hashtag artisan qui. Truffaut banh mi freegan Marfa accusamus, pop-up
      nesciunt mumblecore.
    </p>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <legend class="text-center"><a name="Menu" href="#Menu"><h2>Menu</h2></a></legend>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center slight-bump">
    <p>
      We'll ask about food allergies or other dietary restrictions on the registration form, and we'll make
      sure you get accomodated.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-hover">	
      <thead>
        <tr>
          <th class="col-md-4"><h3>Meal</h3></th>
          <th class="col-md-8"><h3>Food</h3></th>
        </tr>
      </thead>
      <tbody class="slight-bump">
        <tr>
          <td><strong>Breakfast</strong></td>
          <td>Fruit, Pastries, Donuts, and Coffee</td>
        </tr>
        <tr>
          <td><strong>Lunch</strong></td>
          <td>Mini Subs (Veggie, Turkey, and Roast Beef)</td>
        </tr>
        <tr>
          <td><strong>Snacks, Beverages, & Sides</strong></td>
          <td>Chips and Cookies; Soda, Lemonade, Coffee, and Water</td>
        </tr>
        <tr>
          <td><strong>Dinner</strong></td>
          <td>Chicken Soft Tacos or Grilled Vegetables, Hummus, and Pita</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <legend class="text-center"><a name="Contact" href="#Contact"><h2>Contact</h2></a></legend>
  </div>
  <div class="col-md-6 text-center">
    <h3><i class="fa fa-envelope fa-lg"></i>
    &nbsp;<a href="mailto:srct@gmu.edu">openhatch@srct.gmu.edu</h3></a>
  </div>
  <div class="col-md-6 text-center">
    <h3><i class="fa fa-facebook-square fa-lg"></i>
    &nbsp;<a href="https://www.facebook.com/events/853376698091860/">Openhatch at Mason 2015 Event Page</h3></a>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12 text-center">
    <h4><strong>Promotional Material</strong>:&nbsp;
    <a href="#">Vertical Flyer</a> |
    <a href="#">Horizontal Flyer</a></h4>
  </div>
</div>
{% endblock %}
