<html lang="en">
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="icon" href="/static/img/favicon.ico">
    <meta charset="utf-8">
    <meta name="description" content="Mason SRCT is a student organization at George Mason University that establishes and maintains systems which provide specific services for Mason's community.">
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    {% include 'layouts/navbar.html' %}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
  <script src="/static/js/jquery-2.0.3.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</html>
