<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      A <a href="http://srct.gmu.edu/projects">project</a> of
      <a href="https://www.gmu.edu">Mason</a>
      <a href="http://srct.gmu.edu">SRCT</a>. Read
      <a href="http://wiki.srct.gmu.edu/wiki/index.php/SRCTweb">documentation</a>
      and <a href="https://www.gnu.org/licenses/gpl-3.0.html">contribute</a>
      to <a href="http://git.gmu.edu/srct/srctweb">our code</a>.
      Our <a href="http://universitypolicy.gmu.edu/policies/responsible-use-of-computing/">
      Usage Policy</a>, <a href="#termsofservice">Terms of Service</a>,
      <a href="#privacypolicy">Privacy Policy</a>, and
      <a href="#constitution">Constitution</a>.
      <a href="#contact">Contact</a> Us.
      <a href="#login">Log In</a>.
    </div>
  </div>
</div>
