<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="index"><strong>Mason SRCT</strong></a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/projects">Projects</a></li>
        <li><a href="/people">People</a></li>
	<li><a href="/events">Events</a></li>
        <li><a href="/meetings">Meetings</a></li>
	<li><a href="/calendar">Calendar</a>
	<li><a href="/documents">Documents</a></li>
	<li><a href="contact">Contact</a>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
