<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/"><strong>Mason SRCT</strong></a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/projects">Projects</a></li>
        <li><a href="/people">People</a></li>
	<li><a href="/events">Events</a></li>
        <li><a href="/meetings">Meetings</a></li>
	<li><a href="/calendar">Calendar</a>
        <li class="dropdown">
        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Documents <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/documents/constitution">Constitution</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/documents/usage_policy">Usage Policy</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/documents/terms_of_service">Terms of Service</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/documents/privacy_policy">Privacy Policy</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/documents/intellectual_property">Intellectual Property</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/documents/software_freedom">Software Freedom</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/documents/logos">Logos</a></li>
          </ul>
        </li>
	<li><a href="/contact">Contact</a>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
