---
layout: default
---

{% for post in site.categories[page.category] offset: 0 limit: 4 %}
<h1>
    <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
</h1>
{% if page.category == 'events' %}
<h4>{{ post.event_date | date: "%A %B %-d, %Y" }}</h4>
{% else %}
<h4>{{ post.date | date: "%A %B %-d, %Y" }}</h4>
{% endif %}

<br />
<div class="row">
{% if post.hero_image %}
    <div class="col-md-6">
        <p>
            <img class="img-fluid" src="{{ post.hero_image | absolute_url }}" alt={{ post.hero_alt }}>
        </p>
    </div>
    <div class="col-md-6">
        <p>
            {{ post.excerpt }}
        </p>
        <p>
            <a href="{{ post.url | absolute_url }}">Read More
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </p>
    </div>
{% else %}
{{ post.excerpt }}
<p>
    <a href="{{ post.url | absolute_url }}">Read More
        <i class="fa fa-arrow-circle-right"></i>
    </a>
</p>
{% endif %}
</div>
<br />
{% endfor %}

<br />
{% if page.archive %}
<p><a href="{{ page.archive | aosulute_url }}"><i class="fa fa-arrow-circle-left"></i> Archive</a></p>
{% endif %}