---
layout: default
---

{% for post in site.categories[page.category] %}
<h1>
    <a href="{{ post.url | absolute_url }}">{{ post.title }}
        <i class="fa fa-arrow-circle-right"></i>
    </a>
</h1>
<h4>{{ post.event_date | date: "%A %B %-d, %Y" }}</h4>
<br />
{% if post.hero_image %}
<p><img class="img-fluid" src="{{ post.hero_image | absolute_url }}" alt={{ post.hero_alt }}></p>
{% endif %}
{{ post.excerpt }}<p><a href="{{ post.url | absolute_url }}">Read More <i class="fa fa-arrow-circle-right"></i></a></p>
<br />
{% endfor %}