{% include base_path %}

<html lang="{{ site.locale | slice: 0,2 }}">
  <head>
    {% include head.html %}
    {% include scripts.html %}
  </head>

  <body>
    <header>
      {% include navbar.html %}
    </header>

    {% if page.jumbotron == true %}
      {% include jumbotron.html %}
    {% else %}
      {% include banner.html %}
    {% endif %}

    <main role="main" class="container">
      {{ content }}
    </main>

    <footer class="footer">
      {% include footer.html %}
    </footer>
  </body>
</html>
