---
title: "People"
description: "The people who make up this community of developers!"
permalink: /people/
---

<!-- Exec Table -->
<h3>
  <strong><a href="http://wiki.srct.gmu.edu/Executive_Board">Executive Board</a></strong>
</h3>

<table class="table table-responsive table-hover text-center">
  <thead>
    <tr>
      <th></th>
      <th><h4>Name</h4></th>
      <th><h4>Position</h4></th>
      <th><h4>Email</h4></th>
    </tr>
  </thead>
  <tbody>
    {% for member in site.data.people %}
      {% if member.exec.status == true %}
        <tr>
          <td><img class="exec-image" src="{{ member.email | get_gravatar }}" alt="gravatar image"></td>
          <td class="align-middle"><h5>{{ member.name }}</h5></td>
          <td class="align-middle"><h5>{{ member.exec.position }}</h5></td>
          <td class="align-middle"><h5><a href="mailto:{{ member.email }}">{{ member.email }}</a></h5></td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<div class="row">
  <div class="col-md-6">
    <!-- Devs -->
    <h3>
      <strong><a href="http://wiki.srct.gmu.edu/Developers">Developers</a></strong>
    </h3>
    <table class="table table-hover table-responsive text-center">
      <thead>
        <tr>
          <th></th>
          <th><h4>Name</h4></th>
          <th><h4>Email</h4></th>
        </tr>
      </thead>
      <tbody>
        {% for member in site.data.people %}
          {% if member.alum == false %}
            <tr>
              <td><img class="member-image" src="{{ member.email | get_gravatar }}" alt="gravatar image"></td>
              <td class="align-middle">{{ member.name }}</td>
              <td class="align-middle"><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <div class="col-md-6">
    <!-- Alum -->
    <h3>
      <strong><a href="#">Alumni</a></strong>
    </h3>
    <table class="table table-hover table-responsive text-center">
      <thead>
        <tr>
          <th></th>
          <th><h4>Name</h4></th>
          <th><h4>Email</h4></th>
        </tr>
      </thead>
      <tbody>
        {% for member in site.data.people %}
          {% if member.alum == true %}
            <tr>
              <td><img class="member-image" src="{{ member.email | get_gravatar }}" alt="gravatar image"></td>
              <td class="align-middle">{{ member.name }}</td>
              <td class="align-middle"><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
