---
title: "Projects"
permalink: /projects/
description: "Projects created and maintained by SRCT's members."
---

<!-- Active -->
<legend><strong><a class="project-link" name="active" href="#active">Active</a></strong>
<small><font color="gray">Stable and hosted on SRCT servers for the use of the Mason community.</font></small></legend>

<div class="row">
  {% for project in site.data.projects %}
    {% if project.status == 'active' %}
      <div class="col-lg-6 mb-2">
        <a class="project-link" name="{{ project.name }}" href="#{{ project.name }}"><i class="{{ project.fa_icon }} project-icon"></i></a>
        <legend>
          <strong>{{ project.name }}</strong>
          {% if project.deployed_url %}| <a href="https://{{ project.deployed_url }}" target="_blank">{{ project.deployed_url }}</a>{% endif %}
          {% if project.appstore_url %}<br /><a href="{{ project.appstore_url }}" target="_blank"><img class="store-badge" src="/assets/img/AppStoreBadge.png" alt="Download on the App Store"></a>{% endif %}
          {% if project.googleplay_url %}<br /><a href="{{ project.googleplay_url }}" target="_blank"><img class="store-badge" src="/assets/img/GooglePlayBadge.png" alt="Get It on Google Play"></a>{% endif %}
        </legend>
        {% if project.docs_url %}<a href="{{ project.docs_url }}">Docs</a>{% endif %}
        {% if project.issues_url %}| <a href="{{ project.issues_url }}">Issues</a><br><br>{% endif %}

        {% if project.project_manager %}<strong class="project-role">Project Manager:</strong> {{ project.project_manager }}<br>{% endif %}
        {% if project.repo_url %}<strong class="project-role">Repository:</strong> <a href="{{ project.repo_url }}">{{ project.repo_url }}</a><br>{% endif %}
        {% if project.current_release %}<strong class="project-role">Current Release:</strong> <a href="{{ project.current_release_url }}">{{ project.current_release }}</a><br>{% endif %}
        {% if project.next_release %}<strong class="project-role">Next Release:</strong> <a href="{{ project.next_release_url }}">{{ project.next_release }}</a><br>{% endif %}
        {% if project.language %}<strong class="project-role">Language:</strong> {{ project.language }}{% endif %}

        <p class="mt-2 pb-2">
          {{ project.blurb }}
        </p>

				{% if project.latest %}
        <p class="pb-3">
					<strong>NEW: </strong>{{ project.latest }}
        </p>
				{% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>

<!-- In Development -->
<legend><strong><a class="project-link" name="in_dev" href="#in_dev">In Development</a></strong>
<font color="gray"><small>Projects in active development that are in preparation for stable deployment.</small></font></legend>

<div class="row">
  {% for project in site.data.projects %}
    {% if project.status == 'in_dev' %}
      <div class="col-lg-6 mb-2">
        <a class="project-link" name="{{ project.name }}" href="#{{ project.name }}"><i class="{{ project.fa_icon }} project-icon"></i></a>
        <legend>
          <strong>{{ project.name }}</strong>
          {% if project.deployed_url %}| <a href="https://{{ project.deployed_url }}" target="_blank">{{ project.deployed_url }}</a>{% endif %}
        </legend>
        {% if project.docs_url %}<a href="{{ project.docs_url }}">Docs</a>{% endif %}
        {% if project.issues_url %}| <a href="{{ project.issues_url }}">Issues</a>{% endif %}
        <br><br>

        {% if project.project_manager %}<strong class="project-role">Project Manager:</strong> {{ project.project_manager }}<br>{% endif %}
        {% if project.repo_url %}<strong class="project-role">Repository:</strong> <a href="{{ project.repo_url }}">{{ project.repo_url }}</a><br>{% endif %}
        {% if project.current_release %}<strong class="project-role">Current Release:</strong> <a href="{{ project.current_release_url }}">{{ project.current_release }}</a><br>{% endif %}
        {% if project.next_release %}<strong class="project-role">Next Release:</strong> <a href="{{ project.next_release_url }}">{{ project.next_release }}</a><br>{% endif %}
        {% if project.language %}<strong class="project-role">Language:</strong> {{ project.language }}{% endif %}

        <p class="mt-2 pb-2">
          {{ project.blurb }}
        </p>

				{% if project.latest %}
        <p class="pb-3">
					<strong>NEW: </strong>{{ project.latest }}
        </p>
				{% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>

<!-- Inactive -->
<legend><strong><a class="project-link" name="inactive" href="#inactive"> Inactive</a></strong>
<font color="gray"><small>Projects that have been in development in the past, but have not been touched in quite a while. These are open to new members to take over.</small></font></legend>

<div class="row">
  {% for project in site.data.projects %}
    {% if project.status == 'inactive' %}
      <div class="col-lg-6 mb-2">
        <a class="project-link" name="{{ project.name }}" href="#{{ project.name }}"><i class="{{ project.fa_icon }} project-icon"></i></a>
        <legend>
          <strong>{{ project.name }}</strong>
          {% if project.deployed_url %}| <a href="https://{{ project.deployed_url }}" target="_blank">{{ project.deployed_url }}</a>{% endif %}
        </legend>
        {% if project.docs_url %}<a href="{{ project.docs_url }}">Docs</a>{% endif %}
        {% if project.issues_url %}| <a href="{{ project.issues_url }}">Issues</a>{% endif %}
        <br><br>

        {% if project.project_manager %}<strong class="project-role">Project Manager:</strong> {{ project.project_manager }}<br>{% endif %}
        {% if project.repo_url %}<strong class="project-role">Repository:</strong> <a href="{{ project.repo_url }}">{{ project.repo_url }}</a><br>{% endif %}
        {% if project.current_release %}<strong class="project-role">Current Release:</strong> <a href="{{ project.current_release_url }}">{{ project.current_release }}</a><br>{% endif %}
        {% if project.next_release %}<strong class="project-role">Next Release:</strong> <a href="{{ project.next_release_url }}">{{ project.next_release }}</a><br>{% endif %}
        {% if project.language %}<strong class="project-role">Language:</strong> {{ project.language }}{% endif %}

        <p class="mt-2 pb-3">
          {{ project.blurb }}
        </p>
      </div>
    {% endif %}
  {% endfor %}
</div>

<!-- Ideas -->
<legend><strong><a class="project-link" name="ideas" href="#ideas"> Ideas</a></strong>
<font color="gray"><small>Ideas for future projects— contact us if you would like to add an idea to this list or work on any of these.</small></font></legend>

<div class="row">
  {% for project in site.data.projects %}
    {% if project.status == 'ideas' %}
      <div class="col-lg-6 mb-2">
        <a class="project-link" name="{{ project.name }}" href="#{{ project.name }}"><i class="{{ project.fa_icon }} project-icon"></i></a>
        <legend>
          <strong>{{ project.name }}</strong>
          {% if project.deployed_url %}| <a href="https://{{ project.deployed_url }}" target="_blank">{{ project.deployed_url }}</a>{% endif %}
        </legend>
        {% if project.docs_url %}<a href="{{ project.docs_url }}">Docs</a>{% endif %}
        {% if project.issues_url %}| <a href="{{ project.issues_url }}">Issues</a>{% endif %}
        <br><br>

        {% if project.project_manager %}<strong class="project-role">Project Manager:</strong> {{ project.project_manager }}<br>{% endif %}
        {% if project.repo_url %}<strong class="project-role">Repository:</strong> <a href="{{ project.repo_url }}">{{ project.repo_url }}</a><br>{% endif %}
        {% if project.current_release %}<strong class="project-role">Current Release:</strong> <a href="{{ project.current_release_url }}">{{ project.current_release }}</a><br>{% endif %}
        {% if project.next_release %}<strong class="project-role">Next Release:</strong> <a href="{{ project.next_release_url }}">{{ project.next_release }}</a><br>{% endif %}
        {% if project.language %}<strong class="project-role">Language:</strong> {{ project.language }}{% endif %}

        <p class="mt-2 pb-3">
          {{ project.blurb }}
        </p>
      </div>
    {% endif %}
  {% endfor %}
</div>
