<div class="container">
  <small>
    <div class="row mt-2">
      <div class="col-lg-12 text-center">
        <a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode">
        <i class="fab fa-creative-commons fa-fw"></i> BY-NC 2019</a>
        Mason SRCT and <a href="https://github.com/srct/srctweb/graphs/master">contributors</a>.
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="https://getconnected.gmu.edu/organization/srct">Student-Run Computing and Tech</a> is a
        <a href="https://si.gmu.edu/registered-student-organizations/">registered student organization</a>
        at <a href="https://www.gmu.edu/">George Mason University</a>.
      </div>
      <div class="col-lg-12 text-center">
        This <a href="{{ url_for('projects') }}">project's</a>
        <a href="https://github.com/srct/srctweb/tree/master">source</a> is
        <a href="https://www.gnu.org/philosophy/free-sw.html">freely licensed</a> under
        <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU GPL v3.0 or later</a>.
        Read our
        <a href="https://github.com/srct/srctweb/blob/master/README.md">documentation</a>
        and
        <a href="https://github.com/srct/srctweb/issues">contribute</a>.
      </div>
      <div class="col-lg-12 text-center">
        <a href="{{ url_for('constitution') }}">Constitution</a> &middot;
        <a href="https://wiki.srct.gmu.edu/">Wiki</a> &middot;
        <a href="{{ url_for('termsOfService') }}">Terms</a> &middot;
        <a href="{{ url_for('privacyPolicy') }}">Privacy</a> &middot;
        <a href="{{ url_for('contact') }}">Contact</a>
      </div>
    </div>
  </small>
</div>
