<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand my-2 my-lg-0 xolonium" href="/">
      <img src="/assets/img/SRCT_square.svg" width="30" height="30" class="d-inline-block align-top" alt="Mason SRCT">
      &nbsp;Mason SRCT&nbsp;
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse"
      aria-controls="collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="collapse">
      <ul class="navbar-nav ml-auto">
        {% for link in site.data.navigation.main %}
          {% if link.children == null %}
            <li class="nav-item">
              <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdown-link"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ link.title }} 
              </a>
              <div class="dropdown-menu">
                {% for childLink in link.children %}
                  <a class="dropdown-item" href="{{ childLink.url }}">{{ childLink.title }}</a>          
                {% endfor %}
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>