/* Sticky footer styles */

/* The html and body elements cannot have any padding or margin. */
html,
body {
height:100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
  padding-top: 25px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
  background-color: #f5f5f5;
}

.jumbostyle {
  background: url(/static/img/renfredhaxxor.jpg) no-repeat;
  background-size: 100%;
  background-position: 20%;
}

.transparency {
  background-color: rgba(256, 256, 256, 0.6);
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
}
