/* Sticky footer styles */

/* The html and body elements cannot have any padding or margin. */
html,
body {
height:100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
  padding-top: 25px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 40px;
  background-color: #f5f5f5;
}
