/* Sticky footer styles */

/* The html and body elements cannot have any padding or margin. */
html,
body {
height:100%;
}
a[name] {
  padding-top: 50px;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 75px;
}
/* Set the fixed height of the footer here */
#footer {
  height: 40px;
  background-color: #f5f5f5;
}
.jumbostyle {
  background: url(/static/img/renfredhaxxor.png) no-repeat;
  background-size: cover;
  background-position: 20%;
  box-shadow: inset 0px 0px 20px #333;
  padding-top: 100px;
  padding-bottom: 100px;
}
.transparency {
  background-color: rgba(256,256,256,0.6);
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
}
.srctlogo {
  width: 10px;
}
.smidge {
  padding-bottom: 10px;
}
.people-left {
  padding-left:0;
  padding-right:0;
}
.people-right {
  padding-right:0;
  padding-left:0;
}
@media(min-width:992px){
  .people-left {
    padding-right:15px;
  }
  .people-right {
    padding-left:15px;
  }
}
/**
* A cool little hack I found to try to allow a responsive Google Cal:
* http://themeloom.com/2013/02/tips-embed-google-maps-and-calendars-in-a-responsive-wordpress-theme/
**/
.googlecal-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.googlecal-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/** Projects Page **/
.project-entry {
  margin-bottom:10px;
}
.project-icon {
  text-align:center;
  display: block;
  font-size:200px;
  margin:0 auto;
  height: 150px
}
.project-role {
  width: 150px;
  display: inline-block;
  color: #3c4042;
  font-weight: bold;
  display: inline-block;
  text-align: left;
  background: transparent;
  font-size: 0.9em;
}
.project-text {
  margin-top:10px;
  padding-bottom:15px;
}
#banner {
  background:#FBFCCA;
  /*background: #ffcc33;*/
  /*background: #27AE60;*/
  width: 100%;
  margin-bottom: 15px;
}
.page-header {
  margin-top:0;
  border-bottom:none;
}
