{% extends "layouts/base.html" %}
{% block title %}
SRCT | Calendar
{% endblock %}

{% block pagetitle %}
Calendar
{% endblock %}
{% block description %}
Upcoming events and meetings!
{% endblock %}

{% block content %}

<div class="text-center">
  <div class="visible-lg">
    <iframe src="https://www.google.com/calendar/embed?title=Student-Run%20Computing%20and%20Technology&amp;showPrint=0&amp;showCalendars=0&amp;height=700&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=kaiuicpoki9p3u92eklent0eec%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style=" border-width:0 " width="850" height="650" frameborder="0" scrolling="no"></iframe> 
  </div>

  <div class="visible-md visible-sm">
    <iframe src="https://www.google.com/calendar/embed?title=Student-Run%20Computing%20and%20Technology&amp;showPrint=0&amp;showCalendars=0&amp;height=500&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=kaiuicpoki9p3u92eklent0eec%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style=" border-width:0 " width="700" height="550" frameborder="0" scrolling="no"></iframe>
  </div>

  <div class="visible-xs">
    <iframe src="https://www.google.com/calendar/embed?title=Student-Run%20Computing%20and%20Technology&amp;showPrint=0&amp;showCalendars=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=kaiuicpoki9p3u92eklent0eec%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>
  </div>
</div>

{% endblock %}
