{% extends "layouts/base.html" %}
{% block title %}
SRCT | Contact
{% endblock %}

{% block pagetitle %}
Contact
{% endblock %}
{% block description %}
Drop us a line!
{% endblock %}

{% block content %}
<h4><p>SRCT communicates through mailing lists, IRC on <a href="http://freenode.net/">freenode</a> (#srct), and via our
<a href="https://facebook.com/groups/gmu.srct">private Facebook group</a>--
just request to be added.</p></h4>

<legend><strong>Mailing Lists</strong>&nbsp;<i class="fa fa-envelope-o fa-fw"></i></legend>

<p>Please see <a href="http://lists.srct.gmu.edu/">this page</a> to sign up for mailing lists.</p>

<address>
<strong>Members and interested members of the community</strong><br>
srct-general@lists.srct.gmu.edu
</address>

<address>
<strong>Leadership team</strong><br>
exec@srct.gmu.edu
</address>

<address>
<strong>Developers</strong><br>
srct-devs@lists.srct.gmu.edu
</address>

<legend><strong>Social Media</strong>&nbsp;<i class="fa fa-facebook-square fa-fw"></i></legend>

<p>We also have a
<a href="https://facebook.com/MasonSRCT">public Facebook page</a>, a
<a href="https://twitter.com/MasonSRCT">Twitter account</a>,
a <a href="https://reddit.com/MasonSRCT">subreddit</a>,
and many of our members are regular contributors on
<a href="https://reddit.com/r/gmu/">/r/gmu</a>.
The <a href="http://si.gmu.edu/">Office of Student Involvement</a>
also has all registered student organizations maintain pages on
<a href="https://gmu.collegiatelink.net/organization/srct">CollegiateLink</a>.</p>

<legend><strong>Mail</strong>&nbsp;<i class="fa fa-pencil-square-o fa-fw"></i></legend>

<address>
<strong>Mason SRCT</strong><br>
George Mason University<br>
4400 University Drive MSN 2D6<br>
Fairfax, VA 22030<br>
</address>

<legend><strong>Direct Contact</strong>&nbsp;<i class="fa fa-question-circle fa-fw"></i></legend>

<p>The Mason email usernames of our board and developers are on our <a href="{{ url_for('people') }}">people</a> page for directly emailing SRCT members.</p>

{% endblock %}
