{% extends "layouts/base.html" %}
{% block title %}
SRCT | Contact
{% endblock %}

{% block pagetitle %}
Contact
{% endblock %}
{% block description %}
Drop us a line!
{% endblock %}

{% block content %}
<h4><p>SRCT communicates through mailing lists, <a href="https://srct.slack.com/" target="_blank">Slack</a>, 
<a href="https://facebook.com/MasonSRCT" target="_blank">Facebook</a>, and <a href="https://twitter.com/MasonSRCT" target="_blank">Twitter</a>.
</p></h4>

<legend><i class="fa fa-envelope-o fa-fw"></i>&nbsp;<strong>Mailing Lists</strong></legend>

<p>Please see <a href="http://lists.srct.gmu.edu/" target="_blank">this page</a> to sign up for mailing lists.</p>

<address>
<strong>Members and interested members of the community</strong><br>
srct-general@lists.srct.gmu.edu
</address>

<address>
<strong>Leadership team</strong><br>
exec@srct.gmu.edu
</address>

<address>
<strong>Developers</strong><br>
srct-devs@lists.srct.gmu.edu
</address>

<legend><i class="fa fa-users fa-fw"></i>&nbsp;<strong>Social Media</strong></legend>

<div class="row smidge">
  <div class="col-sm-4">
    <i class="fa fa-slack fa-fw fa-lg"></i>&nbsp;&nbsp;<a href="https://srct.slack.com" target="_blank">srct.slack.com</a>
  </div>
  <div class="col-sm-4 centered">
    <i class="fa fa-facebook fa-fw fa-lg"></i>&nbsp;&nbsp;<a href="https://facebook.com/MasonSRCT" target="_blank">facebook.com/MasonSRCT</a>
  </div>
  <div class="col-sm-4">
    <i class="fa fa-twitter fa-fw fa-lg"></i>&nbsp;&nbsp;<a href="https://twitter.com/MasonSRCT" target="_blank">twitter.com/MasonSRCT</a>
  </div>
</div>
<div class="row smidge">
  <div class="col-sm-4">
    <i class="fa fa-gitlab fa-fw fa-lg"></i>&nbsp;&nbsp;<a href="https://git.gmu.edu" target="_blank">git.gmu.edu/srct</a>
  </div>
  <div class="col-sm-4">
    <i class="fa fa-github fa-fw fa-lg"></i>&nbsp;&nbsp;<a href="https://github.com/srct" target="_blank">github.com/srct</a>
  </div>
  <div class="col-sm-4">
    <i class="fa fa-trello fa-fw fa-lg"></i>&nbsp;&nbsp;<a href="https://trello.com/srct" target="_blank">trello.com/srct</a>
  </div>
</div>
<div class="row smidge">
  <div class="col-sm-4">
    <i class="fa fa-instagram fa-fw fa-lg"></i>&nbsp;&nbsp;<a href="https://www.instagram.com/masonsrct/" target="_blank">instagram.com/masonsrct</a>
  </div>
  <div class="col-sm-4">
    <i class="fa fa-tumblr fa-fw fa-lg"></i>&nbsp;&nbsp;<a href="https://masonsrct.tumblr.com/" target="_blank">masonsrct.tumblr.com</a>
  </div>
  <div class="col-sm-4">
    <a href="https://gmu.collegiatelink.net/organization/srct" target="_blank">CollegiateLink</a>
  </div>
</div>

<br />

<legend><i class="fa fa-pencil-square-o fa-fw"></i>&nbsp;<strong>Mail</strong></legend>

<address>
<strong>Mason SRCT</strong><br>
George Mason University<br>
4400 University Drive MSN 2D6<br>
Fairfax, VA 22030<br>
</address>

<legend><i class="fa fa-question-circle fa-fw"></i>&nbsp;<strong>Direct Contact</strong></legend>

<p>The Mason email usernames of our board and developers are on our <a href="{{ url_for('people') }}" target="_blank">people</a> page for directly emailing SRCT members through <a href="https://peoplefinder.gmu.edu" target="_blank">peoplefinder</a>.</p>

{% endblock %}
