{% extends "layouts/base.html" %}
{% block title %}
SRCT | Contact
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
    <h1><strong>Contact</strong></h1>
  </div>
</div>

<h4><p>SRCT communicates through mailing lists, IRC on <a href="http://freenode.net/">freenode</a> (#srct), and via our
<a href="https://facebook.com/groups/gmu.srct">private Facebook group</a>--
just request to be added.</p></h4>

<legend><strong>Mailing Lists</strong></legend>

<p>Please see this page to sign up for mailing lists.</p>

<address>
<strong>Leadership team</strong><br>
exec@srct.gmu.edu
</address>

<address>
<strong>Members and interested members of the community</strong><br>
srct-general@lists.srct.gmu.edu
</address>

<legend><strong>Social Media</strong></legend>

<p>We also have a
<a href="https://facebook.com/MasonSRCT">public Facebook page</a>, a
<a href="https://twitter/com/MasonSRCT">Twitter account</a>,
a <a href="https://reddit.com/MasonSRCT">subreddit</a>,
and many of our members are regular contributors on
<a href="https://reddit.com/r/gmu/">/r/gmu</a>.</p>

<legend><strong>Mail</strong></legend>

<address>
<strong>Mason SRCT</strong><br>
George Mason University<br>
4400 University Drive MSN 2D6<br>
Fairfax, VA 22030<br>
</address>

{% endblock %}
