{% extends "layouts/base.html" %}
{% block title %}
SRCT | Documents
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
    <h1><strong>Documents</strong></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <table class="table table-hover">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td><a href="/documents/constitution">Constitution</a></td>
        </tr>
        <tr>
          <td><a href="/documents/usage_policy">Usage Policy</a></td>
        </tr>
        <tr>
          <td><a href="/documents/terms_of_service">Terms of Service</a></td>
        </tr>
        <tr>
          <td><a href="documents/privacy_policy">Privacy Policy</a></td>
        </tr>
        <tr>
          <td><a href="/documents/intellectual_property">Intellectual Property</a></td>
        </tr>
	<tr>
	  <td><a href="/documents/software_freedom">Software Freedom</a></td>
	</tr>
        <tr>
          <td><a href="/documents/logos">Logos</a></td>
        </tr>
      </tbody>
    </table>
 </div>
</div>

{% endblock %}
