{% extends "layouts/base.html" %}
{% block title %}
SRCT | Events
{% endblock %}

{% block pagetitle %}
Events
{% endblock %}
{% block description %}
The exciting events we've put together, past and present.
{% endblock %}

{% block content %}
<legend><a name="Fall2015" href="#Fall2015">Fall 2015</a></legend>

<div class="row">
  <div class="col-md-12">

    <h2>FSF 30th Anniversary User Summit and Celebration <small>October 2-4</small></h2>
    <p>
      Magna elit mustache dolor anim. Consectetur anim heirloom, delectus irure crucifix id
      assumenda ugh sunt chambray. Placeat synth DIY proident, assumenda PBR&B non deep v
      stumptown odio bicycle rights disrupt viral tempor. Art party chillwave actually locavore
      literally pop-up. Labore aliqua bitters kitsch. Messenger bag cillum eiusmod Portland 3
      wolf moon, Thundercats assumenda flannel craft beer leggings. Vice literally nulla est
      biodiesel, ex plaid Truffaut bespoke butcher placeat cold-pressed Intelligentsia banjo
      scenester.
    </p>

    <h2><a href="{{ url_for('openhatch15')}}">Openhatch at Mason 2015</a> <small>October 24</small></h2>
    <p>
      Sed salvia exercitation paleo plaid, brunch cray Bushwick High Life chia forage bespoke
      deserunt. Forage scenester occupy synth, trust fund aliqua keytar Thundercats duis bicycle
      rights retro church-key lomo. Helvetica semiotics American Apparel eu pug, veniam odio.
      Chia magna keytar sunt, pop-up whatever art party duis blog non. Consectetur veniam Pitchfork
      enim XOXO vero Carles reprehenderit, biodiesel. Hoodie organic chillwave, sapiente +1 velit
      Neutra Banksy put a bird on it disrupt squid consequat ut skateboard retro. Pop-up hashtag
      seitan, keffiyeh raw denim narwhal meditation authentic before they sold out.
    </p>

    <h2>Destress Fest: <em>Hackers</em> (1995) Screening <small>December 17</small></h2>
    <p>
      Echo Park ex church-key laborum, cornhole plaid id pop-up literally nostrud VHS. American
      Apparel enim kale chips, flannel sustainable 8-bit health goth. Flannel readymade VHS whatever
      adipisicing, four dollar toast forage vinyl Tumblr deserunt. Irony food truck distillery,
      asymmetrical velit Carles biodiesel consequat. Lo-fi ut hella scenester normcore listicle
      actually roof party, bespoke meditation. Vice forage kitsch selfies. Asymmetrical viral salvia
      food truck.
    </p>

  </div>
</div>

<br />

<legend><a name="Spring2015" href="#Spring2015">Spring 2015</a></legend>

<div class="row">
  <div class="col-md-12">
  </div>
</div>

<br />

<legend><a name="Fall2014" href="#Fall2014">Fall 2014</a></legend>

<div class="row">
  <div class="col-md-12">
  </div>
</div>

<br />

<legend><a name="Spring2014" href="#Spring2014">Spring 2014</a></legend>

<div class="row">
  <div class="col-md-12">
  </div>
</div>

<br />

<legend><a name="Fall2014" href="#Fall2013">Fall 2013</a></legend>

<div class="row">
  <div class="col-md-12">
  </div>
</div>

<br />

<legend><a name="Spring2014" href="#Spring2013">Spring 2013</a></legend>

<div class="row">
  <div class="col-md-12">
  </div>
</div>

<br />

<legend><a name="Fall2012" href="#Fall2012">Fall 2012</a></legend>

<div class="row">
  <div class="col-md-12">
  </div>
</div>

{% endblock %}
