{% extends "layouts/base.html" %}
{% block title %}
 SRCT | Events
{% endblock %}

{% block pagetitle %}
Events
{% endblock %}
{% block description %}
Events organized and run by SRCT's members.
{% endblock %}

{% block content %}

<legend><strong><a class="project-link" name="past" href="#deployed">Past Events</a></strong>
<small><font color="gray">Events from prior months and years to look back on.</font></small></legend>

<div class="row">

  <div class="col-lg-4 project-entry">
    <a class="project-link" name="git" href="#git"><i class="fa fa-code-fork project-icon"></i></a>

  </div>

  <div class="col-lg-8 project-entry">

    <legend><strong>Openhatch at Mason 2016</strong></legend>

    | <a href="https://www.facebook.com/events/1734022843489100/">Facebook Event Page</a> |
    <br><br>

    <strong class="project-role">Event Manager:</strong>
      Daniel Bond<br>
    <strong class="project-role">Photos:</strong>
      <a href="https://www.facebook.com/MasonSRCT/photos/?tab=album&album_id=1136309046487664">Facebook</a>, taken by Mark Stenglein

    <p class="project-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </p>
  </div>

  </div>

  </div>

{% endblock %}
