{% extends "layouts/base.html" %}

{% block title %}
SRCT | Fundraising
{% endblock %}

{% block pagetitle %}
Sponsorship Levels
{% endblock pagetitle %}
{% block description %}
Benefits afforded our gracious organization sponsors
{% endblock description %}


{% block content %}
<h2>Select a Donation Amount</h2>

</div> <!-- container -->
<hr/>
<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#free">$0</a></li>
    <li><a data-toggle="pill" href="#bronze">$250</a></li>
    <li><a data-toggle="pill" href="#silver">$500</a></li>
    <li><a data-toggle="pill" href="#gold">$1,000</a></li>
    <li><a data-toggle="pill" href="#platinum">$2,000</a></li>
  </ul>
</div>
<hr/>

<div class="container">

<div class="row">
  <div class="col-md-8">
    <div class="tab-content">
      <div id="free" class="tab-pane fade in active">
        <legend><h3>Free</h3></legend>
        <img class="img-responsive center center-block"
         src="/static/img/openhatch-16.jpg"
         alt="Attendees to our Openhatch workshop in 2016 listen attentively.">
        <hr />
          <p>
            We are the world. We are the children. We are the ones who make a brighter day
            so let's start giving. There's a choice we're making. We're saving our own
            lives. It's true we'll make a better place, just you and me.
          </p>
          <table class="table table-striped text-center">
            <tbody>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div id="bronze" class="tab-pane fade">
        <legend><h3>Bronze</h3></legend>
        <img class="img-responsive center center-block"
         src="/static/img/fsf.jpg"
         alt="A group photo of students who travelled to the Free Software Foundation's anniversary celebration in 2015. SRCT's projects are all released under free and open source licenses.">
        <hr />
          <p>
            We are the world. We are the children. We are the ones who make a brighter day
            so let's start giving. There's a choice we're making. We're saving our own
            lives. It's true we'll make a better place, just you and me.
          </p>
          <table class="table table-striped text-center">
            <tbody>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div id="silver" class="tab-pane fade">
        <legend><h3>Silver</h3></legend>
        <img class="img-responsive center center-block"
         src="/static/img/cpi.jpg"
         alt="Rishi helps students visiting from Washington DC Public Schools learn programming with Scratch in 2014.">
        <hr />
          <p>
            We are the world. We are the children. We are the ones who make a brighter day
            so let's start giving. There's a choice we're making. We're saving our own
            lives. It's true we'll make a better place, just you and me.
          </p>
          <table class="table table-striped text-center">
            <tbody>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div id="gold" class="tab-pane fade">
        <legend><h3>Gold</h3></legend>
        <img class="img-responsive center center-block"
         src="/static/img/great-falls.jpg"
         alt="Jacob, Bradford, Kara, and Eric sit on an outing to Great Falls Park in 2014. SRCT organizes social events for its membership.">
        <hr />
          <p>
            We are the world. We are the children. We are the ones who make a brighter day
            so let's start giving. There's a choice we're making. We're saving our own
            lives. It's true we'll make a better place, just you and me.
          </p>
          <table class="table table-striped text-center">
            <tbody>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div id="platinum" class="tab-pane fade">
        <legend><h3>Platinum</h3></legend>
        <img class="img-responsive center center-block"
         src="/static/img/vthacks.jpg"
         alt="David presents his submission to judges at a hackathon in 2015. He learned how to use Django through SRCT workshops.">
        <hr />
        <p>
          We are the world. We are the children. We are the ones who make a brighter day
          so let's start giving. There's a choice we're making. We're saving our own
          lives. It's true we'll make a better place, just you and me.
        </p>
          <table class="table table-striped text-center">
            <tbody>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
              <tr>
                <td>Stuff</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading text-center"><strong>Donate or Renew</strong></div>
      <div class="panel-body">
        <p>Some information and such.</p>
        <p>Even more information.</p>
        <p>Definitely a couple of links.</p>
        <hr />
        <a class="btn btn-primary btn-sm" href="#" role="button">Continue</a>
      </div>
    </div>
  </div>
</div>

</div> <!-- container -->
<hr/>
<div class="container">

<div class="row">
  <div class="col-md-12">
    <p>
      Now is the perfect time to donate!
    </p>
    <p>
      We are the world. We are the children. We are the ones who make a brighter day
      so let's start giving. There's a choice we're making. We're saving our own
      lives. It's true we'll make a better place, just you and me.
    </p>
    <p>
      We are the world. We are the children. We are the ones who make a brighter day
      so let's start giving. There's a choice we're making. We're saving our own
      lives. It's true we'll make a better place, just you and me.
    </p>
    <p>
      We are the world. We are the children. We are the ones who make a brighter day
      so let's start giving. There's a choice we're making. We're saving our own
      lives. It's true we'll make a better place, just you and me.
    </p>
  </div>
</div>

{% endblock content %}
