{% extends "layouts/base.html" %}

{% block title %}
SRCT | Sponsorship
{% endblock %}

{% block pagetitle %}
Sponsorship Levels
{% endblock pagetitle %}
{% block description %}
{% endblock description %}


{% block content %}

</div> <!-- container -->
<hr/>
<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#select">Select a Tier ></a></li>
    <li><a data-toggle="pill" href="#free">$0</a></li>
    <li><a data-toggle="pill" href="#bronze">$250</a></li>
    <li><a data-toggle="pill" href="#silver">$500</a></li>
    <li><a data-toggle="pill" href="#gold">$1,000</a></li>
    <li><a data-toggle="pill" href="#platinum">$2,000</a></li>
  </ul>
</div>
<hr/>

<div class="container">

<div class="row">
  <div class="col-md-8">
    <div class="tab-content">
      <div id="select" class="tab-pane fade in active">
        <blockquote>

        <p>
          For over half a decade, Student-Run Computing and Tech has provided software services, workshops, trainings, a forum for student and guest speakers, and much more for our members and for the George Mason University community.
        </p>

        <p>
          Each year our program requires both the dedicated time committment of our students and substantial financial support to achieve. While we receive $5,000 annually through the Office of Student Involvement, our expenditures run double to triple this allocation.
        </p>

        <p>
          We work with other student organizations and academic departments to cover this shortfall, but also seek outside assistance to fully cover our costs.
        </p>

        <p>
          Your generous donation can help us achieve our mission and continue to provide our services and host our events for another generation of Mason students. As thanks for your financial support, you will receive a wealth of meaningful benefits.
        </p>

        <p>
          We look forward to working together to bring your organization together with our talented student members.
        </p>
        <p>—</p>
        <p><strong>Jason Yeomans</strong>, President</p>
        <p><strong>David Haynes</strong>, Vice President</p>

        </blockquote>

      </div>
      <div id="free" class="tab-pane fade">
        <legend><h3>Free</h3></legend>
        <img class="img-responsive center center-block"
         src="/static/img/openhatch-16.jpg"
         alt="Attendees to our Openhatch workshop in 2016 listen attentively.">
        <hr />
        <p>
          We're dedicated to working with both the Mason and broader local community.
        </p>
        <p>
          If you are conducting an academic study, have employment or volunteering
          opportunities, or have developed a service you'd like to share, we will,
          at our discretion, give that information to students subscribed to a dedicated
          mailing list and Slack channel.
          We will also place promotional material together on a table at weekly meetings
          for students to review at their leisure.
        </p>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>
                Email sent to SRCT's jobs mailing list with details about your
                organization and related opportunities.
              </td>
            </tr>
            <tr>
              <td>
                Information about your organization and your opportunities posted
                to our group's #forhire Slack channel.
              </td>
            </tr>
            <tr>
              <td>
                Flyers, stickers, and other promotional material from your organization
                set at a table at our weekly meetings.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="bronze" class="tab-pane fade">
        <legend><h3>Bronze</h3></legend>
        <img class="img-responsive center center-block"
         src="/static/img/fsf.jpg"
         alt="A group photo of students who travelled to the Free Software Foundation's anniversary celebration in 2015. SRCT's projects are all released under free and open source licenses.">
        <hr />
        <p class="smidgen">
          The cost of one semester's printing fees for educational and training
          materials at our regular meetings and weekend workshops.
        </p>
        <h5><em>All <strong>Free</strong> benefits, plus</em></h5>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>
                One fifteen minute presentation at the start of one of our weekly
                meetings to pitch your company.
              </td>
            </tr>
            <tr>
              <td>
                Email sent to SRCT's general mailing list with details about your company
                and your employment opportunities.
              </td>
            </tr>
            <tr>
              <td>
                Information about your company and your employment opportunities posted
                to our group's #general Slack channel.
              </td>
            </tr>
            <tr>
              <td>
                Your company's name, a 150 character description, and links to two of
                your social media profiles on
                <a href="/sponsors/">srct.gmu.edu/sponsors</a>.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="silver" class="tab-pane fade">
        <legend><h3>Silver</h3></legend>
        <img class="img-responsive center center-block"
         src="/static/img/cpi.jpg"
         alt="Rishi helps students visiting from Washington DC Public Schools learn programming with Scratch in 2014.">
        <hr />
        <p class="smidgen">
          The cost of round trip bus travel for seven students to LibrePlanet, the Free
          Software Foundation's annual conference in Cambridge, Massachusetts.
        </p>
        <h5><em>All <strong>Bronze</strong> benefits, plus</em></h5>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>
                second fifteen minute meeting recruitment presentation (alternate semesters)
              </td>
            </tr>
            <tr>
              <td>
                sponsored coding challenge (workshop series covering technical interview questions)
              </td>
            </tr>
            <tr>
              <td>
                sponsored meeting breakout workshop
              </td>
            </tr>
            <tr>
              <td>
                membership github account list
              </td>
            </tr>
            <tr>
              <td>
                post on SRCT's Facebook and Twitter accounts
              </td>
            </tr>
            <tr>
              <td>
                logo on srct.gmu.edu/sponsors
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="gold" class="tab-pane fade">
        <legend><h3>Gold</h3></legend>
        <img class="img-responsive center center-block"
         src="/static/img/great-falls.jpg"
         alt="Jacob, Bradford, Kara, and Eric sit on an outing to Great Falls Park in 2014. SRCT organizes social events for its membership.">
        <hr />
        <p class="smidgen">
          The cost of breakfast and lunch for 80 attendees at one of our all-day
          educational workshops.
          <em>Two maximum</em>.
        </p>
        <h5><em>All <strong>Silver</strong> benefits, plus</em></h5>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>
                SRCT Speakers Circuit: hour long presentation and Q&A with guest speaker from your company at a weekly meeting on a technical topic
              </td>
            </tr>
            <tr>
              <td>
                second sponsored meeting breakout group (alternate semesters)
              </td>
            </tr>
            <tr>
              <td>
                second sponsored coding challenge (alternate semesters)
              </td>
            </tr>
            <tr>
              <td>
                mailed resume book
              </td>
            </tr>
            <tr>
              <td>
                medium logo on srct.gmu.edu/sponsors
              </td>
            </tr>
            <tr>
              <td>
                shout out at SRCT events
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="platinum" class="tab-pane fade">
        <legend><h3>Platinum</h3></legend>
        <img class="img-responsive center center-block"
         src="/static/img/vthacks.jpg"
         alt="David presents his submission to judges at a hackathon in 2015. He learned how to use Django through SRCT workshops.">
        <hr />
        <p class="smidgen">
          The up-front ordering cost for organization-branded shirts and
          hoodies to help promote our group when worn around campus and identify our
          volunteers at events. (Much of the cost is gradually recouped as the items
          are sold.)
          <em>One maximum</em>.
        </p>
        <h5><em>All <strong>Gold</strong> benefits, plus</em></h5>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>
                second SRCT Speakers Circuit presentation (alternate semesters)
              </td>
            </tr>
            <tr>
              <td>
                third and fourth sponsored coding challenges (two per semester)
              </td>
            </tr>
            <tr>
              <td>
                name on srct.gmu.edu homepage
              </td>
            </tr>
            <tr>
              <td>
                large logo on srct.gmu.edu/sponsors
              </td>
            </tr>
            <tr>
              <td>
                name in footer on printed promotional material
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <strong><i class="fa fa-gift fa-lg fa-fw"></i> Donate or Renew</strong>
      </div>
      <div class="panel-body">
        <p>Student-Run Computing and Tech is a registered student organization at
           George Mason University. Donations to SRCT are processed by the University
           Cashier's Office on behalf of our organization's account with the
           Office of Student Involvement, and
          <strong>are fully tax-deductible</strong>.
        </p>
        <p>Your sponorship continues for one calendar year after we receive your
           contribution.
        </p>
        <p>If you have any questions about our benefits, our annual budget, or have
           any other ideas or comments, we're more than happy to answer.
        </p>
        <p>Send us an email and we can begin working together.
        </p>
        <hr />
        <a class="btn btn-primary btn-sm" href="#" role="button">Contact Us</a>
      </div>
    </div>
  </div>
</div>

</div> <!-- container -->
<hr/>
<div class="container">

<div class="row">
  <div class="col-md-12">
    <legend>
    <h4><i class="fa fa-question-circle-o fa-lg fa-fw"></i> Frequently Asked Questions</h4>
    </legend>
  </div>
  <div class="col-md-6">
    <p><strong>You say goodbye</strong><p>
    <p>
      We are the world. We are the children. We are the ones who make a brighter day
      so let's start giving. There's a choice we're making. We're saving our own
      lives. It's true we'll make a better place, just you and me.
    </p>
    <p><strong>And I say hello</strong><p>
    <p>
      We are the world. We are the children. We are the ones who make a brighter day
      so let's start giving. There's a choice we're making. We're saving our own
      lives. It's true we'll make a better place, just you and me.
    </p>
    <p><strong>Hello?</strong><p>
    <p>
      We are the world. We are the children. We are the ones who make a brighter day
      so let's start giving. There's a choice we're making. We're saving our own
      lives. It's true we'll make a better place, just you and me.
    </p>
    <p><strong>Hello?</strong><p>
    <p>
      We are the world. We are the children. We are the ones who make a brighter day
      so let's start giving. There's a choice we're making. We're saving our own
      lives. It's true we'll make a better place, just you and me.
    </p>
  </div>
  <div class="col-md-6">
    <p><strong>I don't know why</strong><p>
    <p>
      We are the world. We are the children. We are the ones who make a brighter day
      so let's start giving. There's a choice we're making. We're saving our own
      lives. It's true we'll make a better place, just you and me.
    </p>
    <p><strong>You say goodbye</strong><p>
    <p>
      We are the world. We are the children. We are the ones who make a brighter day
      so let's start giving. There's a choice we're making. We're saving our own
      lives. It's true we'll make a better place, just you and me.
    </p>
    <p><strong>I say</strong><p>
    <p>
      We are the world. We are the children. We are the ones who make a brighter day
      so let's start giving. There's a choice we're making. We're saving our own
      lives. It's true we'll make a better place, just you and me.
    </p>
    <p><strong>Hello</strong><p>
    <p>
      We are the world. We are the children. We are the ones who make a brighter day
      so let's start giving. There's a choice we're making. We're saving our own
      lives. It's true we'll make a better place, just you and me.
    </p>
  </div>
</div>

{% endblock content %}
