{% extends "layouts/base.html" %}

{% block title %}
SRCT
{% endblock %}

{% block content %}


<div class="row">
  <div class="col-md-offset-1 col-md-10 text-center">
    <h1><strong>Getting Started</strong></h1>
    <p><h2>What can I learn and what can I work on?</h2></p>
  </div>
</div>

<div class = "row">
  <div class="col-md-offset-1 col-md-10 text-center">
  <p>
  This page is to tell you what you should do.
  </p>
  <p>
  There are many such things. Many things.
  </p>
  </div>
</div>

<legend></legend>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><strong>
          <a name="Nontechnical" href="#Nontechnical">Nontechnical</a>
        </strong></h3>
      </div>
      <div class="panel-body">
        <p><strong>Description:</strong></p>
        <p><strong>Courses completed:</strong> Haven't finished off any computer science courses</p>
        <p><strong>Example workshops:</strong></p>
        <p><strong>Suggested tutorials & resources:</strong></p>
        <p><strong>Ways to contribute:</strong></p>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><strong>
          <a name="Beginner" href="#Beginner">Beginner</a>
        </strong></h3>
      </div>
      <div class="panel-body">
        <p><strong>Description:</strong></p>
        <p><strong>Courses completed:</strong> CS 112</p>
        <p><strong>Example workshops:</strong></p>
        <p><strong>Suggested tutorials & resources:</strong></p>
        <p><strong>Ways to contribute:</strong></p>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><strong>
          <a name="Intermediate" href="#Intermediate">Intermediate</a>
        </strong></h3>
      </div>
      <div class="panel-body">
        <p><strong>Description:</strong></p>
        <p><strong>Courses completed:</strong> CS 112, CS 211</p>
        <p><strong>Example workshops:</strong></p>
        <p><strong>Suggested tutorials & resources:</strong></p>
        <p><strong>Ways to contribute:</strong></p>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><strong>
          <a name="Advanced" href="#Advanced">Advanced</a>
        </strong></h3>
      </div>
      <div class="panel-body">
        <p><strong>Description:</strong></p>
        <p><strong>Courses completed:</strong> CS 112, CS 211, CS 262, CS 310</p>
        <p><strong>Example workshops:</strong></p>
        <p><strong>Suggested tutorials & resources:</strong></p>
        <p><strong>Ways to contribute:</strong></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
