{% extends "layouts/base.html" %}

{% block title %}
SRCT
{% endblock %}

{% block content %}

<div id = "SRCTCarousel" class="carousel slide">
  
  <ol class="carousel-indicators">
    <li data-target = "#SRCTCarousel" data-slide-to = "0" class = "active"></li>
    <li data-target = "#SRCTCarousel" data-slide-to = "1"></li>
    <li data-target = "#SRCTCarousel" data-slide-to = "2"></li>
  </ol>
  
  <div class = "carousel-inner">

    <div class = "item active">
      <img src = "/static/img/renfredhaxxor_large.png" alt = "Renfred Haxxor" class = "img-responsive visible-lg">
      <img src = "/static/img/renfredhaxxor_medium.png" alt = "Renfred Haxxor" class = "img-responsive visible-md visible-sm visible-xs">
      <div class = "carousel-caption">
        <h2>Renfred Haxxoring</h2>
        <p class="visible-lg visible-md">Renfred hacking away at SRCT's most popular project: WhatsOpen.</p>
      </div>
    </div>

    <div class = "item">
      <img src = "/static/img/2013firstmeet_large.png" alt = "First Meeting 2013-2014" class = "img-responsive visible-lg">
      <img src = "/static/img/2013firstmeet_medium.png" alt = "First Meeting 2013-2014" class = "img-responsive visible-md visible-sm visible-xs">
      <div class = "carousel-caption">
        <h2>First Meeting 2013-2014</h2>
        <p class="visible-lg visible-md">The first meeting of the school year.</p>
      </div>
    </div>

    <div class = "item">
      <img src = "/static/img/bradhaxxor_large.png" alt = "Renfred Haxxor" class = "img-responsive visible-lg">
      <img src = "/static/img/bradhaxxor_medium.png" alt = "Renfred Haxxor" class = "img-responsive visible-md visible-sm visible-xs">
      <div class = "carousel-caption">
        <h2>Server Troubleshooting</h2>
        <p class="visible-lg visible-md">Brad troubleshooting the server donated by the University.</p>
      </div>
    </div>

  </div>

  <a class = "carousel-control left" href = "#SRCTCarousel" data-slide = "prev">
    <span class = "icon-prev"></span>
  </a>

  <a class = "carousel-control right" href = "#SRCTCarousel" data-slide = "next">
    <span class = "icon-next"></span>
  </a>

</div>
    
<legend><strong>Misson</strong></legend>
<p><strong>S</strong>tudent-<strong>R</strong>un <strong>C</strong>omputing and
<strong>T</strong>echnology (SRCT, pronounced "<em>circuit</em>") is a student
organization at <a href="https://www.gmu.edu/">George Mason University</a> which
enhances student computing at our school by establishing  and maintaining systems
that provide specific services for Mason's community.</p>
<p>We were founded in 2011 to be a place where students could work together,
share their knowledge, and build really neat projects for the benefit of everyone
at Mason. See some of the ways we've improved life on campus on the <a href="{{ url_for('projects') }}">projects page</a>.</p>

<p>This is a link to the <a href="{{ url_for('calendar') }}">calendar page</a>.</p>

<legend><strong>Getting Involved</strong></legend>
<p>To learn more about SRCT, check out our
<a href="{{ url_for('projects') }}">projects</a>, active, under development, or proposed, or talk to one of the
<a href="{{ url_for('people') }}">members</a>! Technical documentation is
available on our <a href="http://wiki.srct.gmu.edu">wiki</a>, and all of our
code is visible on the <a href="http://git.gmu.edu/public">public page</a> of
our student git repository.</p>
<p>You can come to any of our planned <a href="{{ url_for('events') }}">events</a>. We hold
numerous events each semester, from traveling to hackathons and conferences to
doing local outreach, holding large programming events, and hosting speakers.</p>
<p>We're on <a href="https://www.facebook.com/MasonSRCT">Facebook</a> and
<a href="https://www.twitter.com/MasonSRCT">Twitter</a>, and have
<a href="http://lists.srct.gmu.edu/mailman/listinfo">active mailing lists</a>
and an <a href="https://en.wikipedia.org/wiki/Internet_Relay_Chat">IRC</a>
channel on <a href="https://www.freenode.net/">freenode</a>, #srct. More ways to
contact us are on our <a href="{{ url_for('contact') }}">contact page</a>.</p>

<legend><strong>Next Meeting</strong></legend>
<p>Our next meeting is scheduled for <em>TBA</em>. For more information, check
out our <a href="{{ url_for('calendar') }}">calendar</a>, or visit our
<a href="https://www.facebook.com/MasonSRCT">Facebook</a> or
<a href="https://www.twitter.com/MasonSRCT">Twitter</a> pages.</p>

{% endblock %}
