{% extends "layouts/base.html" %}

{% block title %}
SRCT
{% endblock %}

{% block content %}
    
<div class="page-header" id="banner">  
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>Mason SRCT</strong></h1>
      <p class="lead">Student-Run Computing and Technology</p>
    </div>
  </div>
</div>

<legend><strong>Misson</strong></legend>
<p><strong>S</strong>tudent-<strong>R</strong>un <strong>C</strong>omputing and
<strong>T</strong>echnology (SRCT, pronounced "<em>circuit</em>") is a student
organization at <a href="https://www.gmu.edu/">George Mason University</a> which
enhances student computing at our school. We establish and maintain systems
that provide specific services for Mason's community.</p>

<legend><strong>Getting Involved</strong></legend>
<p>We're on <a href="https://www.facebook.com/MasonSRCT">Facebook</a> and
<a href="https://www.twitter.com/MasonSRCT">Twitter</a>, and have
<a href="http://lists.srct.gmu.edu/mailman/listinfo">active mailing lists</a>.
To learn more about SRCT, check out the
<a href="http://srct.gmu.edu/projects">active projects</a> or talk to one of the
<a href="http://srct.gmu.edu/people">members</a>! Technical documentation is
available on our <a href="http://wiki.srct.gmu.edu">wiki</a>.</p>

<legend><strong>Next Meeting</strong></legend>
<p>Next meeting is scheduled for <em>TBA</em>. For more information, check out
our <a href="http://srct.gmu.edu/calendar">calendar</a>, or visit our
<a href="https://www.facebook.com/MasonSRCT">Facebook</a> or
<a href="https://www.twitter.com/MasonSRCT">Twitter</a> pages.</p>

{% endblock %}
