{% extends "layouts/base.html" %}

{% block title %}
SRCT
{% endblock %}

{% block jumbotron %}

<!-- <ul id="jumboparallax">

  <li class="layer" data-depth="0.50"> -->
    <div class="jumbotron jumbostyle">

      <!-- <li class="layer" data-depth="0.00"> -->
        <div class="text-center transparency">
          <h1><strong>SRCT</strong></h1>
          <p><h2>Student-Run Computing and Technology</h2></p>
        </div>
      <!-- </li> -->

    </div>
<!--  </li>

</ul> -->

{% endblock %}


{% block content %}

<legend><strong>Misson</strong></legend>
<p><strong>S</strong>tudent-<strong>R</strong>un <strong>C</strong>omputing and
<strong>T</strong>echnology (SRCT, pronounced "<em>circuit</em>") is a student
organization at <a href="https://www.gmu.edu/">George Mason University</a> which
enhances student computing at our school by developing and maintaining systems
that provide specific services for Mason's community.</p>
<p>We were founded in 2011 to be a place where students could work together,
share their knowledge, and build really neat projects for the benefit of everyone
at Mason. See some of the ways we've improved life on campus on the <a href="{{ url_for('projects') }}">projects page</a>.</p>

<legend><strong>Getting Involved</strong></legend>
<p>To learn more about SRCT, check out our
<a href="{{ url_for('projects') }}">projects</a>, active, under development, or proposed, or talk to one of the
<a href="{{ url_for('people') }}">members</a>! Technical documentation is
available on our <a href="http://wiki.srct.gmu.edu">wiki</a>, and all of our
code is visible on the <a href="http://git.gmu.edu/public">public page</a> of
our student git repository.</p>
<p>You can come to any of our planned <a href="{{ url_for('events') }}">events</a>. We hold
numerous events each semester, from traveling to hackathons and conferences to
doing local outreach, holding large programming events, and hosting speakers.</p>
<p>We're on <a href="https://www.facebook.com/MasonSRCT">Facebook</a> and
<a href="https://www.twitter.com/MasonSRCT">Twitter</a>, have
<a href="http://lists.srct.gmu.edu/mailman/listinfo">active mailing lists</a>
and an <a href="https://en.wikipedia.org/wiki/Internet_Relay_Chat">IRC</a>
channel on <a href="https://www.freenode.net/">freenode</a>, #srct. More ways to
get in touch are on our <a href="{{ url_for('contact') }}">contact page</a>.</p>

<legend><strong>Next Meeting</strong></legend>
<p>Our next meeting is scheduled for <em>TBA</em>. For more information, check
out our <a href="{{ url_for('calendar') }}">calendar</a>, or visit our
<a href="https://www.facebook.com/MasonSRCT">Facebook</a> or
<a href="https://www.twitter.com/MasonSRCT">Twitter</a> pages.</p>

<!-- <script src="/static/js/parallax.min.js"></script>

var scene = document.getElementById('jumboparallax');
var parallax = new Parallax(jumboparallax); -->

{% endblock %}
