{% extends "layouts/base.html" %}
{% block title %}
SRCT | JavaScript License Information
{% endblock %}

{% block pagetitle %}
JavaScript License Information
{% endblock %}
{% block description %}
Meta Information for GNU LibreJS Users
{% endblock %}

{% block content %}

<table id="jslicense-labels1">
    <tr>
        <td><a href="/static/js/bootstrap.min.js">bootstrap.min.js</a></td>
        <td><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0</a></td>
        <td><a href="/static/js/bootstrap.js">bootstrap.js</a></td>
    </tr>
</table>

{% endblock %}
