{% extends "layouts/base.html" %}
{% block title %}
SRCT | Meetings
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
    <h1><strong>Meetings</strong></h1>
  </div>
</div>

<p>Will link to an as yet not created page on the wiki with meeting minutes.</p>

<p>Page will need RSS support.</p>

<!-- <p>Transfer over meeting notes.</p> -->

<!-- <p>Presumably make some sort of form so that notes can be taken directly
   here and not done through modifying the html</p> -->

<!-- <p>Along with that, an RSS feed</p> -->
{% endblock %}
