{% extends "layouts/base.html" %}
{% block title %}
SRCT | People
{% endblock %}
{% block pagetitle %}
People
{% endblock %}
{% block description %}
The people who make up this community of developers!
{% endblock %}
{% block content %}
<legend><strong>
  <a href="http://wiki.srct.gmu.edu/wiki/index.php/Executive_Board">Executive Board</a>
</strong></legend>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th><h4>Name</h4></th>
      <th><h4>Position</h4></th>
      <th><h4>Username</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img class="img-circle img-responsive center center-block" src="{{ 'mgauto@gmu.edu' | gravatar }}" alt = "gravatar image"</td>
      <td><h5>Manuel Gauto</h5></td>
      <td>
        <a href="http://wiki.srct.gmu.edu/wiki/index.php/President"><h5>President</h5></a>
      </td>
      <td><h5><em>mgauto</em></h5></td>
    </tr>
    <tr>
      <td><img class="img-circle img-responsive center center-block" src="{{ 'creffett@gmu.edu' | gravatar }}" alt = "gravatar image"</td>
      <td><h5>Chris Reffett</h5></td>
      <td>
        <a href="http://wiki.srct.gmu.edu/wiki/index.php/Systems_Administrator"><h5>Systems Admininstrator</h5></a>
      </td>
      <td><h5><em>creffett</em></h5></td>
    </tr>
    <tr>
      <td><img class="img-circle img-responsive center center-block" src="{{ 'jkressel@gmu.edu' | gravatar }}" alt = "gravatar image"</td>
      <td><h5>Jakob Kressel</h5></td>
      <td>
        <a href="http://wiki.srct.gmu.edu/wiki/index.php/Vice_President"><h5>Vice President</h5></a>
      </td>
      <td><h5><em>jkressel</em></h5></td>
    </tr>
    <tr>
      <td><img class="img-circle img-responsive center center-block" src="{{ 'akarthik@gmu.edu' | gravatar }}" alt = "gravatar image"</td>
      <td><h5>Akshay Karthik</h5></td>
      <td>
        <a href="http://wiki.srct.gmu.edu/wiki/index.php/Secretary"><h5>Secretary</h5></a>
      </td>
      <td><h5><em>akarthik</em></h5></td>
    </tr>
    <tr>
      <td><img class="img-circle img-responsive center center-block" src="{{ 'rharper2@gmu.edu' | gravatar }}" alt = "gravatar image"</td>
      <td><h5>Renfred Harper</h5></td>
      <td>
        <a href="http://wiki.srct.gmu.edu/wiki/index.php/Treasurer"><h5>Treasurer</h5></a>
      </td>
      <td><h5><em>rharper2</em></h5></td>
    </tr>
    <tr>
      <td><img class="img-circle img-responsive center center-block" src="{{ 'kdobolyi@gmu.edu' | gravatar }}" alt = "gravatar image"</td>
      <td><h5>Kinga Dobolyi</h5></td>
      <td>
        <a href="http://wiki.srct.gmu.edu/wiki/index.php/Faculty_Advisor"><h5>Faculty Advisor</h5></a>
      </td>
      <td><h5><em>kdobolyi</em></h5></td>
    </tr>
  </tbody>
</table>

<legend><strong>
  <a href="http://wiki.srct.gmu.edu/wiki/index.php/Developers">Developers</a>
</strong></legend>
<div class="col-md-6 people-left">
<table class="table table-hover">
  <thead>
    <tr>
      <th><h4>Name</h4></th>
      <th><h4>Username</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ross Bragg</td>
      <td><em>rbragg</em></td>
    </tr>
    <tr>
      <td>Eric Cawi</td>
      <td><em>ecawi</em></td>
    </tr>
    <tr>
      <td>Mariet Kurtz</td>
      <td><em>mkurtz2</em></td>
    </tr>
    <tr>
      <td>Samer Masterson</td>
      <td><em>smasters</em></td>
    </tr>
    <tr>
      <td>Rishi Deshpande</td>
      <td><em>rdespha2</em></td>
    </tr>
    <tr>
      <td>Michel Rouly</td>
      <td><em>jrouly</em></td>
    </tr>
    <tr>
      <td>Chris Reffett</td>
      <td><em>creffett</em></td>
    </tr>
    <tr>
      <td>Renfred Harper</td>
      <td><em>rharper2</em></td>
    </tr>
    <tr>
      <td>Bryon Bacon</td>
      <td><em>bbacon</em></td>
    </tr>
    <tr>
      <td>Chase Gleason</td>
      <td><em>sgleaso2</em></td>
    </tr>
    <tr>
      <td>Melissa Mahan</td>
      <td><em>mmahan2</em></td>
    </tr>
    <tr>
      <td>Benjamin Ward</td>
      <td><em>bward10</em></td>
    </tr>
  </tbody>
</table>
</div>

<div class="col-md-6 people-left">
<table class="table table-hover">
  <thead>
    <tr>
      <th><h4>Name</h4></th>
      <th><h4>Username</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Abdullah Sahyouni</td>
      <td><em>asahyoun</em></td>
    </tr>
    <tr>
      <td>Kunal Sarkhel</td>
      <td><em>ksarkhel</em></td>
    </tr>
    <tr>
      <td>Ben Waters</td>
      <td><em>bwaters3</em></td>
    </tr>
    <tr>
      <td>Manuel Gauto</td>
      <td><em>mgauto</em></td>
    </tr>
    <tr>
      <td>Nic Anderson</td>
      <td><em>nander13</em></td>
    </tr>
    <tr>
      <td>Daniel Bond</td>
      <td><em>dbond2</em></td>
    </tr>
    <tr>
      <td>Kara Mahoney</td>
      <td><em>kmahone5</em></td>
    </tr>
    <tr>
      <td>Bryan Hoyle</td>
      <td><em>bhoyle</em></td>
    </tr>
    <tr>
      <td>Mark McCaskey</td>
      <td><em>mmccask2</em></td>
    </tr>
    <tr>
      <td>Jakob Kressel</td>
      <td><em>jkressel</em></td>
    </tr>
    <tr>
      <td>Akshay Karthik</td>
      <td><em>akarthik</em></td>
    </tr>
    <tr>
      <td>Nathan LaPierre</td>
      <td><em>nlapier2</em></td>
    </tr>
    <tr>
      <td>Jason Yeomans</td>
      <td><em>jyeoman2</em></td>
    </tr>
  <tbody>
</table>
</div>

<div class="col-xs-1 col-xs-offset-11">
  <small><em>* Honorary </em></small>
</div>

<legend>
  Graduates
</legend>

<div class="col-md-6 people-left">
<table class="table table-hover">
  <thead>
    <tr>
      <th><h4>Name</h4></th>
      <th><h4>Username</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ross Bragg</td>
      <td><em>rbragg</em></td>
    </tr>
    <tr>
      <td>Mariet Kurtz</td>
      <td><em>mkurtz2</em></td>
    </tr>
    <tr>
      <td>Samer Masterson</td>
      <td><em>smasters</em></td>
    </tr>
    <tr>
      <td>Chase Gleason</td>
      <td><em>sgleaso2</em></td>
    </tr>
  </tbody>
</table>
</div>

<div class="col-md-6 people-left">
<table class="table table-hover">
  <thead>
    <tr>
      <th><h4>Name</h4></th>
      <th><h4>Username</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ross Bragg</td>
      <td><em>rbragg</em></td>
    </tr>
    <tr>
      <td>Mariet Kurtz</td>
      <td><em>mkurtz2</em></td>
    </tr>
    <tr>
      <td>Samer Masterson</td>
      <td><em>smasters</em></td>
    </tr>
    <tr>
      <td>Chase Gleason</td>
      <td><em>sgleaso2</em></td>
    </tr>
  </tbody>
</table>
</div>

{% endblock %}
