{% extends "layouts/base.html" %}
{% block title %}
SRCT | People
{% endblock %}
{% block pagetitle %}
People
{% endblock %}
{% block description %}
The awesome people who make up this community of developers!
{% endblock %}
{% block content %}
<div class="row">
<legend><strong>
  <a href="http://wiki.srct.gmu.edu/Executive_Board">Executive Board</a>
</strong></legend>

<table class="table table-hover" id="executive">
  <thead>
    <tr>
      <th></th>
      <th><h4>Name</h4></th>
      <th><h4>Position</h4></th>
      <th><h4>Username</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img class="img-circle gravatar img-responsive center center-block" src="{{ 'jyeoman2@gmu.edu' | gravatar }}" alt="gravatar image"</td>
      <td><h5>Jason Yeomans</h5></td>
      <td>
        <a href="http://wiki.srct.gmu.edu/President"><h5>President</h5></a>
      </td>
      <td><h5><em>jyeoman2</em></h5></td>
    </tr>
    <tr>
      <td><img class="img-circle gravatar img-responsive center center-block" src="{{ 'mbaile18@gmu.edu' | gravatar }}" alt = "gravatar image"</td>
      <td><h5>Michael Bailey</h5></td>
      <td>
        <a href="http://wiki.srct.gmu.edu/Systems_Administrator"><h5>Systems Admininstrator</h5></a>
      </td>
      <td><h5><em>mbaile18</em></h5></td>
    </tr>
    <tr>
      <td><img class="img-circle gravatar img-responsive center center-block" src="{{ 'dhaynes3@gmu.edu' | gravatar }}" alt = "gravatar image"</td>
      <td><h5>David Haynes</h5></td>
      <td>
        <a href="http://wiki.srct.gmu.edu/Vice_President"><h5>Vice President</h5></a>
      </td>
      <td><h5><em>dhaynes3</em></h5></td>
    </tr>
    <tr>
      <td><img class="img-circle gravatar img-responsive center center-block" src="{{ 'tkegel@gmu.edu' | gravatar }}" alt = "gravatar image"</td>
      <td><h5>Thomas Kegel</h5></td>
      <td>
        <a href="http://wiki.srct.gmu.edu/Treasurer"><h5>Treasurer</h5></a>
      </td>
      <td><h5><em>tkegel</em></h5></td>
    </tr>
    <tr>
      <td><img class="img-circle gravatar img-responsive center center-block" src="{{ 'mstengle@gmu.edu' | gravatar }}" alt = "gravatar image"</td>
      <td><h5>Mark Stenglein</h5></td>
      <td>
        <a href="http://wiki.srct.gmu.edu/Secretary"><h5>Secretary</h5></a>
      </td>
      <td><h5><em>mstengle</em></h5></td>
    </tr>
    <!--
    <tr>
      <td><img class="img-circle gravatar img-responsive center center-block" src="{{ 'asonntag@gmu.edu' | gravatar }}" alt = "gravatar image"</td>
      <td><h5>Audrey Sonntag</h5></td>
      <td>
        <a href="http://wiki.srct.gmu.edu/Historian"><h5>Historian</h5></a>
      </td>
      <td><h5><em>asonntag</em></h5></td>
    </tr>
    <tr>
    -->
    <tr>
      <td><img class="img-circle gravatar img-responsive center center-block" src="{{ 'kdobolyi@gmu.edu' | gravatar }}" alt = "gravatar image"</td>
      <td><h5>Kinga Dobolyi</h5></td>
      <td>
        <a href="http://wiki.srct.gmu.edu/Faculty_Advisor"><h5>Faculty Advisor</h5></a>
      </td>
      <td><h5><em>kdobolyi</em></h5></td>
    </tr>
  </tbody>
</table>
</div>

<div class="row">
<legend class="col-md-12"><strong>
  <a href="http://wiki.srct.gmu.edu/Developers">Developers</a>
</strong></legend>
<div class="col-md-6 people-left">
<table class="devs table table-hover">
  <thead>
    <tr>
      <th><h4>Name</h4></th>
      <th><h4>Username</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bryon Bacon</td>
      <td><em>bbacon</em></td>
    </tr>
    <tr>
      <td>Jason Yeomans</td>
      <td><em>jyeoman2</em></td>
    </tr>
    <tr>
      <td>David Stein</td>
      <td><em>dstein3</em></td>
    </tr>
    <tr>
      <td>Lilas Dinh</td>
      <td><em>vdinh3</em></td>
    </tr>
    <tr>
      <td>Michael Bailey</td>
      <td><em>mbaile18</em></td>
    </tr>
    <tr>
      <td>Mark Stenglein</td>
      <td><em>mstengle</em></td>
    </tr>
    <tr>
      <td>Zach Knox</td>
      <td><em>zknox</em></td>
    </tr>
    <tr>
      <td>Greg Aronson</td>
      <td><em>garonson</em></td>
    </tr>
    <tr>
      <td>Jakob Kressel</td>
      <td><em>jkressel</em></td>
    </tr>
  </tbody>
</table>
</div>

<div class="col-md-6 people-left">
<table class="table table-hover">
  <thead>
    <tr>
      <th><h4>Name</h4></th>
      <th><h4>Username</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Manuel Gauto</td>
      <td><em>mgauto</em></td>
    </tr>
    <tr>
      <td>Nic Anderson</td>
      <td><em>nander13</em></td>
    </tr>
    <tr>
      <td>Daniel Bond</td>
      <td><em>dbond2</em></td>
    </tr>
    <tr>
      <td>Sherif Sarhan</td>
      <td><em>ssarhan2</em></td>
    </tr>
    <tr>
      <td>David Haynes</td>
      <td><em>dhaynes3</em></td>
    </tr>
    <tr>
      <td>Briana Abraham</td>
      <td><em>babraha2</em></td>
    </tr>
    <tr>
      <td>Matthew Rogers</td>
      <td><em>mroger4</em></td>
    </tr>
    <tr>
      <td>Thomas Kegel</td>
      <td><em>tkegel</em></td>
    </tr>
  <tbody>
</table>
</div>
</div>

<div class="row">
<legend class="col-md-12"><strong>
  Alumni
</strong></legend>
<div class="col-md-6 people-left">
<table class="devs2 table table-hover">
  <thead>
    <tr>
      <th><h4>Name</h4></th>
      <th><h4>Username</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Abdullah Sahyouni</td>
      <td><em>asahyoun</em></td>
    </tr>
    <tr>
      <td>Ben Waters</td>
      <td><em>bwaters3</em></td>
    </tr>
    <tr>
      <td>Kara Mahoney</td>
      <td><em>kmahone5</em></td>
    </tr>
    <tr>
      <td>Bryan Hoyle</td>
      <td><em>bhoyle</em></td>
    </tr>
    <tr>
      <td>Nathan LaPierre</td>
      <td><em>nlapier2</em></td>
    </tr>
    <tr>
      <td>Chase Gleason</td>
      <td><em>sgleaso2</em></td>
    </tr>
    <tr>
      <td>Melissa Mahan</td>
      <td><em>mmahan2</em></td>
    </tr>
    <tr>
      <td>Ananya Dhawan</td>
      <td><em>adhawan2</em></td>
    </tr>
    <tr>
      <td>Benjamin Ward</td>
      <td><em>bward10</em></td>
    </tr>
    <tr>
      <td>Akshay Karthik</td>
      <td><em>akarthik</em></td>
    </tr>
  <tbody>
</table>
</div>

<div class="col-md-6 people-left">
<table class="table table-hover">
  <thead>
    <tr>
      <th><h4>Name</h4></th>
      <th><h4>Username</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ross Bragg</td>
      <td><em>rbragg</em></td>
    </tr>
    <tr>
      <td>Eric Cawi</td>
      <td><em>ecawi</em></td>
    </tr>
    <tr>
      <td>Mariet Kurtz</td>
      <td><em>mkurtz2</em></td>
    </tr>
    <tr>
      <td>Samer Masterson</td>
      <td><em>smasters</em></td>
    </tr>
    <tr>
      <td>Michel Rouly</td>
      <td><em>jrouly</em></td>
    </tr>
    <tr>
      <td>Chris Reffett</td>
      <td><em>creffett</em></td>
    </tr>
    <tr>
      <td>Renfred Harper</td>
      <td><em>rharper2</em></td>
    </tr>
    <tr>
      <td>Rishi Deshpande</td>
      <td><em>rdespha2</em></td>
    </tr>
    <tr>
      <td>Mark McCaskey</td>
      <td><em>mmccask2</em></td>
    </tr>
    <tr>
      <td>Kunal Sarkhel</td>
      <td><em>ksarkhel</em></td>
    </tr>
  </tbody>
</table>
</div>
</div>
{% endblock %}
