{% extends "layouts/base.html" %}

{% block title %}
SRCT | Sponsors
{% endblock %}

{% block pagetitle %}
Sponsors
{% endblock pagetitle %}
{% block description %}
The companies and organizations we're proud to work with.
{% endblock description %}


{% block content %}
<div class="row smidge-4x">
  <legend><h3><strong>Platinum</strong></h3></legend>
  <div class="col-md-4">
    <img class="img-circle img-responsive center center-block"
     src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Color_icon_green.svg/600px-Color_icon_green.svg.png"
     alt="grid with nine shades of green">
  </div>
  <div class="col-md-7 col-md-offset-1">
    <br />
    <br />
    <br />
    <h4><strong>Company A</strong></h4>
    <h5>City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p>Did I reiterate how cool and super awesome and sweet and nifty and great
       they are? Because just in case you didn't get it the first time, they are.</p>
    <p>No really, you all. Really really. They're really just that cool. You know
       that it is true. Why? Because they're right here, platinum donors.</p>
    <p><i class="fa fa-facebook"></i> <a href="#">CoolCompany</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a> |
       <i class="fa fa-youtube-play"></i> <a href="#">CoolCompany</a> |
       <i class="fa fa-github"></i> <a href="#">CoolCompany</a>
  </div>
</div>

<div class="row smidge-4x">
  <legend><h3><strong>Gold</strong></h3></legend>
  <div class="col-md-4">
    <div class="col-md-10 col-md-offset-1">
    <img class="img-circle img-responsive center center-block"
     src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Color_icon_blue.svg/600px-Color_icon_blue.svg.png"
     alt="grid with nine shades of blue">
     </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-10 col-md-offset-1">
    <img class="img-circle img-responsive center center-block"
     src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Color_icon_purple.svg/600px-Color_icon_purple.svg.png"
     alt="grid with nine shades of purple">
     </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-10 col-md-offset-1">
    <img class="img-circle img-responsive center center-block"
     src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Color_icon_yellow.svg/600px-Color_icon_yellow.svg.png"
     alt="grid with nine shades of yellow">
     </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h4 class="text-center"><strong>Company B</strong></h4>
    <h5 class="text-center">City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p>Did I reiterate how cool and super awesome and sweet and nifty and great
       they are? Because just in case you didn't get it the first time, they are.</p>
    <p class="text-center"><i class="fa fa-facebook"></i> <a href="#">coolcompany.io</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a>
  </div>
  <div class="col-md-4">
    <h4 class="text-center"><strong>Company C</strong></h4>
    <h5 class="text-center">City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p>Did I reiterate how cool and super awesome and sweet and nifty and great
       they are? Because just in case you didn't get it the first time, they are.</p>
    <p class="text-center"><i class="fa fa-facebook"></i> <a href="#">coolcompany.io</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a>
  </div>
  <div class="col-md-4">
    <h4 class="text-center"><strong>Company D</strong></h4>
    <h5 class="text-center">City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p>Did I reiterate how cool and super awesome and sweet and nifty and great
       they are? Because just in case you didn't get it the first time, they are.</p>
    <p class="text-center"><i class="fa fa-facebook"></i> <a href="#">coolcompany.io</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a>
  </div>
</div>

<div class="row smidge-4x">
  <legend><h3><strong>Silver</strong></h3></legend>
  <div class="col-md-2">
    <br />
    <br />
    <img class="img-circle img-responsive center center-block"
     src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Color_icon_orange.svg/600px-Color_icon_orange.svg.png"
     alt="grid with nine shades of orange">
  </div>
  <div class="col-md-4">
    <h4><strong>Company E</strong></h4>
    <h5>City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p>Did I reiterate how cool and super awesome and sweet and nifty and great
       they are? Because just in case you didn't get it the first time, they are.</p>
    <p><i class="fa fa-facebook"></i> <a href="#">coolcompany.io</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a>
  </div>
  <div class="col-md-2">
    <br />
    <br />
    <img class="img-circle img-responsive center center-block"
     src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Color_icon_red.svg/600px-Color_icon_red.svg.png"
     alt="grid with nine shades of red">
  </div>
  <div class="col-md-4">
    <h4><strong>Company F</strong></h4>
    <h5>City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p>Did I reiterate how cool and super awesome and sweet and nifty and great
       they are? Because just in case you didn't get it the first time, they are.</p>
    <p><i class="fa fa-facebook"></i> <a href="#">coolcompany.io</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a>
  </div>
  <div class="col-md-2">
    <br />
    <br />
    <img class="img-circle img-responsive center center-block"
     src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Color_icon_pink.svg/600px-Color_icon_pink.svg.png"
     alt="grid with nine shades of pink">
  </div>
  <div class="col-md-4">
    <h4><strong>Company G</strong></h4>
    <h5>City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p>Did I reiterate how cool and super awesome and sweet and nifty and great
       they are? Because just in case you didn't get it the first time, they are.</p>
    <p><i class="fa fa-facebook"></i> <a href="#">coolcompany.io</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a>
  </div>
  <div class="col-md-2">
    <br />
    <br />
    <img class="img-circle img-responsive center center-block"
     src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Color_icon_gray.svg/600px-Color_icon_gray.svg.png"
     alt="grid with nine shades of gray">
  </div>
  <div class="col-md-4">
    <h4><strong>Company H</strong></h4>
    <h5>City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p>Did I reiterate how cool and super awesome and sweet and nifty and great
       they are? Because just in case you didn't get it the first time, they are.</p>
    <p><i class="fa fa-facebook"></i> <a href="#">coolcompany.io</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a>
  </div>
</div>

<div class="row smidge-4x">
  <legend><h3><strong>Bronze</strong></h3></legend>
  <div class="col-md-4">
    <h4><strong>Company I</strong></h4>
    <h5>City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p><i class="fa fa-facebook"></i> <a href="#">coolcompany.io</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a>
  </div>
  <div class="col-md-4">
    <h4><strong>Company J</strong></h4>
    <h5>City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p><i class="fa fa-facebook"></i> <a href="#">coolcompany.io</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a>
  </div>
  <div class="col-md-4">
    <h4><strong>Company K</strong></h4>
    <h5>City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p><i class="fa fa-facebook"></i> <a href="#">coolcompany.io</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a>
  </div>
  <div class="col-md-4">
    <h4><strong>Company L</strong></h4>
    <h5>City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p><i class="fa fa-facebook"></i> <a href="#">coolcompany.io</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a>
  </div>
  <div class="col-md-4">
    <h4><strong>Company M</strong></h4>
    <h5>City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p><i class="fa fa-facebook"></i> <a href="#">coolcompany.io</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a>
  </div>
  <div class="col-md-4">
    <h4><strong>Company N</strong></h4>
    <h5>City, State</h5>
    <p>Company A is a super cool company that does super cool things. They are
       proud to work with Mason SRCT because they are also super cool.</p>
    <p><i class="fa fa-facebook"></i> <a href="#">coolcompany.io</a> |
       <i class="fa fa-twitter"></i> <a href="#">@CoolCompany</a>
  </div>
</div>
{% endblock content %}
