{% extends "layouts/base.html" %}

{% block title %}
SRCT | Sponsors
{% endblock %}

{% block jumbotron %}
<div class="jumbotron jumbostyle">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-2 col-md-offset-3 col-md-3 col-sm-offset-2 col-sm-3 col-xs-offset-2 col-xs-4">
        <img src="/static/img/SRCT_sq_white_shadow.png" class="img-responsive" alt="SRCT's logo" />
      </div>
      <div class="col-md-5">
        <p class="xolonium srct-title">Student-Run<br />Computing&nbsp;+<br />Technology</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
<!-- <div class="container"> -->
  <div class="row smidge">
    <legend><i class="fa fa-child fa-fw"></i>&nbsp;<strong>Initiatives</strong></legend>
    <div class="col-md-12">
    <h4><strong></strong></h4>
    <p></p>
    </div> 
  </div>
</div>

<div class="jumbotron jumbostyle">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-2 col-md-offset-3 col-md-3 col-sm-offset-2 col-sm-3 col-xs-offset-2 col-xs-4">
        <img src="/static/img/SRCT_sq_white_shadow.png" class="img-responsive" alt="SRCT's logo" />
      </div>
      <div class="col-md-5">
        <p class="xolonium srct-title">Student-Run<br />Computing&nbsp;+<br />Technology</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row smidge">
    <legend><i class="fa fa-child fa-fw"></i>&nbsp;<strong>Initiatives</strong></legend>
    <div class="col-md-12">
    <h4><strong></strong></h4>
    <p></p>
    </div> 
  </div>
<!-- </div> -->

{% endblock content %}
