{% extends "layouts/base.html" %}
{% block title %}
SRCT | Docs | Constitution
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10 text-center">
    <h1><strong>Constitution</strong></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">

    <p><strong><em>Last updated September 12, 2013</em></strong></p>
    <p><small>email questions, comments, and suggestions to <em>exec@srct.gmu.edu</em></small></p>
    
    <legend><a name="ArticleI">Article I — Name of Organization</a></legend>
    
    <p>This student organization shall be named Student-Run Computing and Technology (SRCT). The website for SRCT shall be located at srct.gmu.edu.</p>
    
    <legend><a name="ArticleII">Article II — Purpose of Organization</a></legend>
    
    <p>Student-Run Computing and Technology (SRCT) will seek to enhance student computing at Mason. SRCT will focus on establishing and maintaining systems which would provide specific services to the general Mason community.</p>
    
    <legend><a name="ArticleIII">Article III — Membership</a></legend>
    
    <p>Membership in this organization will not be restricted on the basis of race, color, religion, national origin, disability, sexual orientation, veteran status, sex, or age. Membership is open to all currently enrolled GMU students in good academic standing with the university with a minimum cumulative GPA of at least 2.5 who support the advancement of the organization’s principles. SRCT members will be classified as either contributors or developers.</p>
    
    <p><strong>Contributors</strong></p>
    
    <p>Contributors are individuals interested in joining the SRCT community. All new members of SRCT are initially considered contributors. These members may not participate in official votes, nor will they have access to SRCT project management positions. They may contribute to SRCT projects under the guidance and supervision of a project manager.</p>
    
    <p><strong>Developers</strong></p>
    
    <p>Developers are individuals invested in the SRCT community. These members have full voting rights and may request project management positions. A project management position entails access to SRCT infrastructure as required by their project, and as overseen by the System Administrator. Additionally, project management entails the responsibility to maintain project documentation and oversee project development. Developers may also contribute to SRCT projects under the guidance and supervision of the project manager. To attain developer status, a contributor must demonstrate leadership skills, commitment to SRCT principles, and technical ability. Prospective developers will be selected based on these qualifications by official vote. Any prospective developer will not be voted on more than twice per semester.</p>
    
    <p><strong>Revocation of Membership</strong></p>
    
    <p>In extraordinary circumstances, if a motion is brought and seconded at a meeting for membership revocation, all SRCT members will be notified by email of the motion not less than five days before the following meeting. If a quorum is present, an official vote will be held by secret ballot, requiring a 3/4 supermajority of present members. Although an official vote, all present contributors will be allowed to present arguments for or against membership revocation prior to the vote. Members will be automatically removed if suspended or expelled by the university.</p>
    
    <legend><a name="ArticleIV">Article IV — Officers</a></legend>
    
    <p>Officers’ terms are for one semester; there are no term limits. All officers will attend any training required by OSI. The Executive Board is defined as the collection of all five officer positions.</p>
    
    <p><strong>President</strong></p>
    
    <p>The President of SRCT presides over all meetings; serves as spokesperson for SRCT; acts as its main liaison to the Advisor, ITU, and OSI; oversees the transition to next semester’s officers, and ensures SRCT fulfills its constitutional obligations.</p>
    
    <p><strong>Vice President</strong></p>
    
    <p>The Vice President assists the President of SRCT to the extent the President requests, and assumes the responsibilities of the President in the President’s absence, resignation, or removal. The Vice President oversees all voting.</p>
    
    <p><strong>Treasurer</strong></p>
    
    <p>The Treasurer keeps accurate records of any expenditures and accounting as outlined by the Office of Student Involvement’s “Fiscal Management Policies and Forms.”</p>
    
    <p><strong>Secretary</strong></p>
    
    <p>The Secretary takes minutes at each meeting and publishes them to SRCT’s website, keeps record of the membership status of SRCT members, and maintains all other necessary records and files.</p>
    
    <p><strong>System Administrator</strong></p>
    
    <p>The System Administrator is responsible for maintaining the hardware and software systems at SRCT’s disposal. This includes project management software, SRCT servers, and SRCT website maintenance. The System Administrator also directly oversees all project managers.</p>
    
    <p><strong>Removal of Officers</strong></p>
    
    <p>Two SRCT members may present a motion to remove an officer. All members will be notified by email, and have no fewer than five days to review the motion. If a quorum is present at the next SRCT meeting, the 3/4 motion may be approved by a vote by secret ballot of all present members. This is considered an official vote.</p>
    
    <p><strong>Advisor</strong></p>
    
    <p>The primary Advisor shall be a member of the faculty or staff at George Mason University. The Advisor shall be selected by agreement of the officers, and it is the responsibility of the officers to find a replacement should the Advisor no longer be suited for the position. The Advisor may offer guidance and support for SRCT, but may not participate in any votes.</p>
    
    <legend><a name="ArticleV">Article V — Elections</a></legend>
    
    <p><strong>Standard Elections</strong></p>
    
    <p>Elections will be held during the first meetings of March and November, with the results to come into effect at the start of the following semester. Voting shall be handled in a secret ballot to be counted by the highest ranking member not in contest for any officer position, or if all positions are in contention, then by a quorum of all project managers not directly involved in elections. In the event of a tie, a second round of voting will be held between the top two candidates following the same procedures of the first round. In the event of a further tie, the Advisor will determine the winner.</p>
    
    <p><strong>Special Elections</strong></p>
    
    <p>In event of the resignation of an officer, then an election will be held to fill their position for the remainder of the term following the procedures above.</p>
    
    <legend><a name="ArticleVI">Article VI — Meetings</a></legend>
    
    <p>SRCT shall meet on a weekly basis. Meetings should be scheduled to accommodate the greatest number of members. All members of the Mason community are welcome to attend meetings. Attendance by SRCT contributors and developers is not mandatory, but highly recommended. Consistent absence may be viewed as grounds for revocation of membership.</p>
    
    <p>The Executive Board has the right to call its own private meetings at its discretion. A quorum shall be defined to include at least two officers, and either a simple majority of members or seven total members including at least two officers, whichever is less. On official votes, in the event of a tie, the deciding vote shall be cast by the presiding officer.</p>
    
    <p>The President shall preside over all meetings. In the event of the President’s absence, the meeting shall be presided over by the highest ranking available officer.</p>
    
    <p>The most recent edition of Robert’s Rules of Order will guide meeting procedure.</p>
    
    <p>Meetings will consist of at least one of two possible discrete sections, an organizational section and a development section. What type of meeting is scheduled for a particular week will be made clear at the time of the meeting’s announcement.</p>
    
    <p><strong>Organizational Meeting</strong></p>
    
    <p>Organizational meetings are to present motions, discuss status of SRCT initiatives and other matters of interest or concern to SRCT, vote on germane resolutions, and other matters permitted by SRCT’s officers. All members of the Mason community are welcome to present topics of discussion at meetings. Developers and contributors may vote on non-official resolutions.</p>
    
    <p><strong>Development Meeting</strong></p>
    
    <p>Development meetings are not subject to the rigorous standards outlined above. They are entirely optional meetings. Development meetings will be used to provide developers and contributors with an opportunity to meet in person and work together on projects in a relaxed atmosphere. There are no time or attendance limits, requirements, or expectations placed on development meetings.</p>
    
    <legend><a name="ArticleVII">Article VII — Finance</a></legend>
    
    <p>No dues shall ever be required as part of SRCT membership. This clause shall not be construed to restrict other fundraising mechanisms.</p>
    
    <legend><a name="ArticleVIII">Article VIII — Amendments</a></legend>
    
    <p>Two members may jointly propose an explicitly defined constitutional amendment at a meeting. All members will be emailed a copy of the language of the amendment and have no fewer than five days to review the proposed amendment. At the next SRCT meeting, if a quorum is present, the amendment may be approved 3/4 by a vote by secret ballot of all present members. This is considered an official vote. The Office of Student Involvement must review all amendments in the same matter as a completely new constitution. Changes which do not affect the meaning of the text, such as updated formatting and links, may be made at the discretion of the board.</p>
    
    <legend><a name="ArticleIX">Article IX — Ratification</a></legend>
    
    <p>This constitution shall become effective upon approval by a 3/4 vote of the membership, and the Assistant Director for Recognized Student Organizations. This is considered an official vote.</p>
  
  </div>
  
  <div class="col-sm-2 hidden-xs">

    <h4 id="nav-pills"><strong>Documents</strong></h4>
    <div class="bs-example">
      <ul class="nav nav-pills">
        <li class="active"><a href="/documents/constitution">Constitution</a></li>
        <li><a href="/documents/usage_policy">Usage Policy</a></li>
        <li><a href="/documents/terms_of_service">Terms of Service</a></li>
        <li><a href="/documents/privacy_policy">Privacy Policy</a></li>
        <li><a href="/documents/intellectual_property">Intellectual Property</a></li>
        <li><a href="/documents/software_freedom">Software Freedom</a></li>
        <li><a href="/documents/logos">Logos</a></li>
      </ul>
    </div>

  </div>

</div>

{% endblock %}
