{% extends "layouts/base.html" %}
{% block title %}
SRCT | Docs | Intellectual Property
{% endblock %}

{% block pagetitle %}
Intellectual Property
{% endblock %}
{% block description %}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-10">

  <legend>Your intellectual property</legend>

  <p>Simply using our projects does not give you ownership of any of our intellectual property rights. However, because all of our code is available as <a href="software_freedom">free software</a>, you are more than welcome to contribute to our projects. Even if you aren't comfortable contributing code, ideas or a keen artistic eye are always in need.</p>
  
  <legend>Our intellectual property</legend>

  <p>We're working on licensing with the Office of Technology Transfer, but until the details are ironed out, your contributions to SRCT projects fall under the same rules as <a href="http://catalog.gmu.edu/content.php?catoid=22&navoid=4772#STW">any other work you create</a> at GMU.</p>

  </div>
  
  <div class="col-sm-2 hidden-xs">

    <h4 id="nav-pills"><strong>Documents</strong></h4>
    <div class="bs-example">
      <ul class="nav nav-pills">
        <li><a href="{{ url_for('constitution') }}">Constitution</a></li>
        <li><a href="{{ url_for('usagePolicy') }}">Usage Policy</a></li>
        <li><a href="{{ url_for('termsOfService') }}">Terms of Service</a></li>
        <li><a href="{{ url_for('privacyPolicy') }}">Privacy Policy</a></li>
        <li class="active"><a href="{{ url_for('intellectualProperty') }}">Intellectual Property</a></li>
        <li><a href="{{ url_for('softwareFreedom') }}">Software Freedom</a></li>
        <li><a href="{{ url_for('logos') }}">Logos</a></li>
      </ul>
    </div>

  </div>

</div>

{% endblock %}
