{% extends "layouts/base.html" %}
{% block title %}
SRCT | Docs | Logos
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10 text-center">
    <h1><strong>Logos</strong></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">

  <legend>Rectangular SRCT Logo</legend>
    <div class="col-sm-4 smidge text-center"><strong>
      <a href="https://drive.google.com/uc?export=download&id=0B-FwHgPV7F47YlJjSkRMeDk4VEk">
      SVG</a></strong></div>
    <div class="col-sm-4 smidge text-center"><strong>
      <a href="https://drive.google.com/uc?export=download&id=0BzEh4MeQpxTbR3BkRno4UU02OFE">
      PNG (Large)</a></strong></div>
    <div class="col-sm-4 smidge text-center"><strong>
      <a href="https://drive.google.com/uc?export=download&id=0BzEh4MeQpxTbZHRCQ1dQTmRhT2s">
      PNG (Small)</a></strong></div>

  <legend>Square SRCT Logo</legend>
    <div class="col-sm-4 smidge text-center"><strong>
      <a href="https://drive.google.com/uc?export=download&id=0B-FwHgPV7F47dEltMEpPNjAtOUk">
      SVG</a></strong></div>
    <div class="col-sm-4 smidge text-center"><strong>
      <a href="https://drive.google.com/uc?export=download&id=0BzEh4MeQpxTbUU4wa0FHODBUaUk">
      PNG (Large)</a></strong></div>
    <div class="col-sm-4 smidge text-center"><strong>
      <a href="https://drive.google.com/uc?export=download&id=0BzEh4MeQpxTbOWsxbTVPbTF0cFU">
      PNG (Small)</a></strong></div>

  </div>

  <div class="col-sm-2 hidden-xs">

    <h4 id="nav-pills"><strong>Documents</strong></h4>
    <div class="bs-example">
      <ul class="nav nav-pills">		  
		<li><a href="{{ url_for('constitution') }}">Constitution</a></li>
        <li><a href="{{ url_for('usagePolicy') }}">Usage Policy</a></li>
        <li><a href="{{ url_for('termsOfService') }}">Terms of Service</a></li>
        <li><a href="{{ url_for('privacyPolicy') }}">Privacy Policy</a></li>
        <li><a href="{{ url_for('intellectualProperty') }}">Intellectual Property</a></li>
        <li><a href="{{ url_for('softwareFreedom') }}">Software Freedom</a></li>
        <li class="active"><a href="{{ url_for('logos') }}">Logos</a></li>  
      </ul>
    </div>

  </div>

</div>

{% endblock %}
