{% extends "layouts/base.html" %}
{% block title %}
SRCT | Docs | Software Freedom  
{% endblock %}

{% block content %}
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>Software Freedom</strong></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    <p>The promotion of free software at GMU is best left to
    <a href="http://gmulug.com/">Mason Linux User Group</a>, but we explain here
    what free software is and why it's import to SRCT.</p>

    <blockquote>
    <p>"Free software" means software that respects users' freedom and community.
    Roughly, it means that the users have the freedom to run, copy, distribute,
    study, change and improve the software. Thus, "free software" is a matter of
    liberty, not price. To understand the concept, you should think of "free" as in
    "free speech," not as in "free beer".</p>

    <footer><cite><a href="https://www.gnu.org/philosophy/free-sw.html">
    The Free Software Definition</a></cite></footer>

    </blockquote>

    <p>SRCT creates and provides services for the benefit our school. One of those
    benefits is providing opportunities for everyone to contribute on our projects.
    Not only does this provide students the chance to learn from experience, from
    each other, and foster a sense of community, and not only do we believe that
    our collective knowledge can build and deploy better projects than anyone could
    individually, but that free computing is an ideal of
    <a href="https://www.gnu.org/education/edu-why.html">particular importance</a>
    within an academic environment, where students are taught the virtues of
    intellectual and social freedoms and independence.</p>

    <blockquote>
    <p>In any intellectual field, one can reach greater heights by standing on
    the shoulders of others. But that is no longer generally allowed in the
    software field—you can only stand on the shoulders of the other people in
    <em>your own company</em>.

    <footer><cite><a href="https://www.gnu.org/philosophy/shouldbefree.html">
    Why Software Should Be Free</a></cite></footer>

    </blockquote>
    
    <p>We encourages every student to learn about programming through our
    services, and believes that knowledge is of utmost importance in a time of
    rapid, software-based societal changes. This learning, and by extension an
    understanding of the technological shift we are currently experiencing, is
    possible only with free software.</p>

  </div>
  
  <div class="col-sm-2 hidden-xs">

    <h4 id="nav-pills"><strong>Documents</strong></h4>
    <div class="bs-example">
      <ul class="nav nav-pills">
        <li><a href="#">Constitution</a></li>
        <li><a href="#">Usage Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Intellectual Property</a></li>
        <li class="active"><a href="#">Software Freedom</a></li>
        <li><a href="#">Logos</a></li>
      </ul>
    </div>

  </div>

</div>
{% endblock %}
