{% extends "layouts/base.html" %}
{% block title %}
SRCT | Docs | Terms of Service
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
    <h1><strong>Terms of Service</strong></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    
  </div>
  
  <div class="col-sm-2 hidden-xs">

    <h4 id="nav-pills"><strong>Documents</strong></h4>
    <div class="bs-example">
      <ul class="nav nav-pills">
        <li><a href="/documents/constitution">Constitution</a></li>
        <li><a href="/documents/usage_policy">Usage Policy</a></li>
        <li class="active"><a href="/documents/terms_of_service">Terms of Service</a></li>
        <li><a href="/documents/privacy_policy">Privacy Policy</a></li>
        <li><a href="/documents/intellectual_property">Intellectual Property</a></li>
        <li><a href="/documents/software_freedom">Software Freedom</a></li>
        <li><a href="/documents/logos">Logos</a></li>
      </ul>
    </div>

  </div>

</div>

{% endblock %}
