{% extends "layouts/base.html" %}
{% block title %}
SRCT | Docs | Terms of Service
{% endblock %}

{% block pagetitle %}
Terms of Service
{% endblock %}
{% block description %}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-10">

  <p>These terms establish a contract between users of our projects and Mason   SRCT. Thank you using our projects! SRCT's projects are very
  diverse, just like the fellow Mason students who create them in their
  free time. Sometimes a project may require additional terms, and those
  terms will be listed on the project's site. Those terms become part of
  your agreement with us when you use those projects. If you have any
  questions, please <a href="{{ url_for('contact') }}">contact us</a> before accessing our
  services. :-) Use of our projects constitutes your agreement to these
  terms, and your acknowledgement that you are legally able to form a
  binding contract.</p>

  <p>Some projects do not require Mason user authentication. In such cases,
     provisons covering user authentication do not apply. Additionally, non-Mason student users of our projects are not eligible for Mason SRCT membership.</p>

    <div class="row">
      <div class="col-md-12">
        <h2>Rules for using our services</h2>
        <p><strong>Play Nice</strong></p>
	<p>Many of our services have
	<a href="https://en.wikipedia.org/wiki/Application_programming_interface">
	APIs</a>, and you can get backend access to our projects by coming to
	<a href="{{ url_for('calendar') }}">meetings</a> for questions or help, so please
	don't try to access, disrupt, or otherwise interfere with our
	projects in a way we don't intend. It takes a lot of work to keep
	our projects running as it is. Because we are hosted on GMU machines,
	not only will you run afoul of Mason's
	<a href="http://universitypolicy.gmu.edu/policies/responsible-use-of-computing/">
	Responsible Use of Computing policy</a>, but you'll be hurting the
	open community we're seeking to create. We always need people to work
	on security, so if you're interested, please come out to a meeting!</p>
	<p>Though we encourage new ways of using our APIs, we are not
	responsible for third party uses of such information provided.</p>
	<p>As goes without saying, you may only use our services in full
	compliance with all laws regulations, and policies and rules by
	George Mason University. Remember when using our projects that
	your actions may lead to criminal or civil liability.</p>
	    <p><strong>Free Software, Free Society</strong></p>
	<p>We will provide a freely-licensed copy of all of our projects
	through our git repositories, and you are free to run our programs
	on your own, and to examine, change, and redistribute modified or
	unmodifed versions of our code, subject to the terms of
	the free relevant software license. In fact, we expressly encourage
	students to find and fix bugs, or to create new features for our
	projects. Our membership is predicated on how much you've given back
	to the Mason community in terms of contributions to our projects.</p>
      </div>
  
      <div class="col-md-12">
        <h2>Your account, privacy, and rights</h2>
        <p><strong>A full Mason account</strong></p>
	<p>Your account is based off of your Mason student account, including
	your Mason password. We strongly encourage you,
	<a href="http://tsd.gmu.edu/services/strongpassword/">just like
	ITU</a>, to use and keep secret a strong password to keep your
	information secure.</p>
	<p>For many of our projects, you will need a Mason account for access.
	Keep in mind that this means once your full-access Mason credentials
	expire, you will no longer be able to access our projects, and may
	lose any associated saved content.</p>
	<p><strong>Privacy Policy</strong></p>
	<p>We may send service announcements and other information to users.
	You will be able to opt out of these emails. Please see our
	<a href="{{ url_for('privacyPolicy') }}">privacy policy</a> for more
	about how we use and keep confidential your personal information.</p>
	<p><strong>User Rights</strong></p>
	<p>Use of our projects does not confer SRCT membership.</p>
      </div>
  
      <div class="col-md-12">
        <h2>Content on SRCT sites</h2>
	<p><strong>Copyright and Ownership</strong></p>
	<p>Some of our services allow users to upload or create their own
	content. Please provide citations or receive permission before posting
	something that is not your intellectual property. If see infringing
	content, please email the project manager. The project manager
	will refer copyright matters to relevant Mason copyright and honor
	code offices.</p>
	<p>Otherwise, all content, be it publicly or private posted, is the
	sole responsibilty of the person from whom it originated. We do
	guarantee the accuracy or reliabilty of any information posted by
	people such as yourself. You retain the rights to your content as long
	as George Mason University allows you to log in through their
	authentication systems. Content may be changed per the requirements
	of our hardware.</p>
	<p><strong>Objectionable Content or Honor Code Violations</strong></p>
	<p>We do not endorse any user-uploaded content, nor do we have the
	manpower or permission to extensively review everything uploaded to
	our projects. If you find anything objectionable, please contact the
	project manager.</p>
    <p>If you suspect any other user of using our services to violate
    the Honor Code, please follow normal reporting policy-- bypass us
    and directly contact your instructor.</p>
      </div>
       
      <div class="col-md-12">
        <h2>George Mason University</h2>
        <p>We are a registered student organization, and abide by the
        rules required of student orgs, and all other Mason rules and
        polices. The direction of faculty and staff of may override any
        provision of these terms and conditions. Mason may even us to
        shut down some of any of our services. We will attempt to notify
        our users as soon as possible in such an occasion.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Disclaimers</h2>
        <p>Other than expressly set out in these terms, SRCT does not
        make any promises about our services. We do not make guarantees
        about any aspect of any of our projects, from reliability to
        availability to functionality. We are not liable for any loss
        or damages, from financial to grade-related. Our software services
        are provided merely as is. Some areas may require warranties, but
        otherwise, we do not provide any warranty or any other assurances
        of any kind. If something breaks, you are always welcome to help
        us look at our code and fix it. To the extent permitted by law,
        your maximum liability is limited to the amount you paid us
        (nothing).</p>
	    <p>If any portion of these terms is declared unenforceable for
	    any reason, such as at the direction of Mason faculty or staff,
	    the rest of the contract still remains in effect.</p>

      </div>

      <div class="col-md-12">
        <h2>Other information</h2>
	<p><strong>Changes to these conditions</strong></p>
	<p>If we make any significant changes to these terms, a distinction
	we alone will determine, we will prominently announce such a change
	on our site for several days. Continuing to use our services after
	that period means you agree to the new terms.
	<p>Additionally, any project may provide its own additions to these
	terms, which may override any aspect of them. Please read those
	carefully, as mentioned above.</p>
	<p><strong>Jurisdiction</strong></p>
	<p>We want you to enjoy our projects, but if we are unable to resolve
	your matter internally, we are based out of George Mason University's
	Fairfax campus, and the laws of the City of Fairfax, Virginia, United
	States will apply to any disputes or claims arising from these terms.
	Please contact Mason's legal offices for further information.</p>
	<p><strong>Still More</strong></p>
	<p>These terms cover a relationship solely between Mason SRCT and
	you. No third party rights are created.</p>
	<p>If you use our services to hurt someone else or in an otherwise
	legally dubious way, we are in no way liable for your wrongdoing.</p>
	<p>If you do not comply with these terms, and no action is immediately
	taken, it does not mean that we have given up on any of our rights
	in these terms.</p>
	<p>Our projects are not directed at, nor do we knowingly collect any
	information from, any person under the age of thirteen.</p>
	<p>These terms will continue to apply until your Mason login
	credentials as provided by the university cease working.</p>
      </div>
    </div>

  </div>
  
  <div class="col-sm-2 hidden-xs">

    <h4><strong>Documents</strong></h4>
      <div class="list-group">
        <a href="{{ url_for('constitution') }}" class="list-group-item">Constitution</a>
        <a href="{{ url_for('usagePolicy') }}" class="list-group-item">Usage Policy</a>
        <a href="{{ url_for('termsOfService') }}" class="list-group-item active">Terms of Service</a>
        <a href="{{ url_for('privacyPolicy') }}" class="list-group-item">Privacy Policy</a>
        <a href="{{ url_for('intellectualProperty') }}" class="list-group-item">Intellectual Property</a>
        <a href="{{ url_for('softwareFreedom') }}" class="list-group-item">Software Freedom</a>
        <a href="{{ url_for('logos') }}" class="list-group-item">Logos</a>
      </div>
  
  </div>

</div>

{% endblock %}
