{% extends "layouts/base.html" %}
{% block title %}
SRCT | Docs | Terms of Service
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10 text-center">
    <h1><strong>Terms of Service</strong></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">

  <p>Thank you using our projects! SRCT's projects are very diverse, just like the fellow Mason students who them in their free time. Sometimes a project may require additional terms, and those terms will be listed on the project's site. Those terms become part of your agreement with us when you use those projects. If you have any questions, please <a href="/contact">contact us</a> before using our services. :-)</p>

    <div class="row">
      <div class="col-md-6">
        <h2>Rules for using our services</h2>
        <strong>Play Nice</strong> 
	<p>Many of our services have <a href="https://en.wikipedia.org/wiki/Application_programming_interface">APIs</a>, and you can get backend access to our projects by coming to <a href="/calendar">meetings</a> for questions or help, so please don't try to access, disrupt, or otherwise interfere with our projects in a way we don't intend. It takes a lot of work to keep our projects running as it is. Because we are hosted on GMU machines, not only will you run afoul of Mason's <a href="http://universitypolicy.gmu.edu/policies/responsible-use-of-computing/">Responsible Use of Computing policy</a>, but you'll be hurting the open community we're seeking to create. We always need people to work on security, so if you're interested, please come out!</p>
        <p></p>
      </div>
 
      <div class="col-md-6">
        <h2>Content on SRCT sites</h2>
	<p><strong>Copyright</strong></p>
	<p>DCMA</p>
      </div>
  
      <div class="col-md-6">
        <h2>Your account, privacy, and rights</h2>
	<p>Your account is based off of your Mason student account, including your Mason password. We strongly encourage you, just like ITU, to use a strong password to keep your information secure.</p>
      </div>
  
      <div class="col-md-6">
        <h2>George Mason University</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Disclaimers</h2>
	<p><strong>Severability and  </strong></p>

        <p></p>

	<p><strong>Indemnity</strong></p>

        <p></p>

      </div>

      <div class="col-md-12">
        <h2>Other information</h2>
	<p><strong>Changes to these conditions</strong></p>
	<p></p>
      </div>
    </div>

  </div>
  
  <div class="col-sm-2 hidden-xs">

    <h4 id="nav-pills"><strong>Documents</strong></h4>
    <div class="bs-example">
      <ul class="nav nav-pills">
        <li><a href="/documents/constitution">Constitution</a></li>
        <li><a href="/documents/usage_policy">Usage Policy</a></li>
        <li class="active"><a href="/documents/terms_of_service">Terms of Service</a></li>
        <li><a href="/documents/privacy_policy">Privacy Policy</a></li>
        <li><a href="/documents/intellectual_property">Intellectual Property</a></li>
        <li><a href="/documents/software_freedom">Software Freedom</a></li>
        <li><a href="/documents/logos">Logos</a></li>
      </ul>
    </div>

  </div>

</div>

{% endblock %}
