{% extends "layouts/base.html" %}
{% block title %}
SRCT | Docs | Usage Policy
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10 text-center">
    <h1><strong>Usage Policy</strong></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
      <p>All users of SRCT systems must agree to George Mason's University's
      <a href="http://universitypolicy.gmu.edu/policies/responsible-use-of-computing/">
      Responsible Use of Computing</a> Policy and abide by all other university
      <a href="http://universitypolicy.gmu.edu/">policies</a>. Usage is
      restricted to Mason affiliates.</p>

    <p>Systems are generally owned by the <a href="http://virginia.gov/">
    Commonwealth of Virginia</a>, and may be subject to additional policies
    and laws.  Services are provided best-effort, and users are not entitled
    to or guaranteed access. Access may be removed at any time, at the
    discretion of
    <a href="http://wiki.srct.gmu.edu/index.php/Systems_Administrator">
    Systems Administrator</a> and SRCT.</p>

    <p>In addition, individuals given advanced access to administer and manage SRCT
    systems or resources must agree to the
    <a href="https://www.usenix.org/lisa/system-administrators-code-ethics">
    System Administrator's Code of Ethics</a>, as defined by
    <a href="https://www.usenix.org/lisa">LISA</a>.</p>

    <legend>Handling abuse</legend>
    <p>Misuse of SRCT systems should be addressed by emailing the
    <a href="http://wiki.srct.gmu.edu/wiki/index.php/Hardware">system maintainer
    </a>. SRCT members will investigate the issue and take corrective action as
    deemed necessary. This may include disabling user access, taking down content,
    etc to ensure SRCT serves the educational goals of the University. Abuse
    reports may be forwarded to Mason's
    <a href="http://www.gmu.edu/resources/committee/srp/stopit.html">StopIt</a>
    team if appropriate.</p>

    <p>System maintainers are the primary point of contact for urgent issues. A maintainer on-call can be reached at (302) GMU-SRCT.</p>

    <legend>Handling service interruptions</legend>
    <p>SRCT will make an effort to let users know about known service interruptions
    ahead of time. In case of sudden outages, updates will be provided as soon as
    information is available and a full post-mortem will be posted. Mailing lists
    for this to be determined.</p>
  </div>
  
  <div class="col-sm-2 hidden-xs">

    <h4 id="nav-pills"><strong>Documents</strong></h4>
    <div class="bs-example">
      <ul class="nav nav-pills">
        <li><a href="/documents/constitution">Constitution</a></li>
        <li class="active"><a href="/documents/usage_policy">Usage Policy</a></li>
        <li><a href="/documents/terms_of_service">Terms of Service</a></li>
        <li><a href="/documents/privacy_policy">Privacy Policy</a></li>
        <li><a href="/documents/intellectual_property">Intellectual Property</a></li>
        <li><a href="/documents/software_freedom">Software Freedom</a></li>
        <li><a href="/documents/logos">Logos</a></li>
      </ul>
    </div>

  </div>

</div>

{% endblock %}
